:root {
	--column--vertical: 1rem;	
	--column--horizontal: 3rem;		
  --column--font-size-h2: 2rem;
/*	--kachel--margin: 0.5rem;
	--kachel--vertical: 2rem;
	--kachel--horizontal: 2rem; */
	--kachel--background: #fafafa;
	--columns--margin: 10vw;
	--columns--width: 90vw;
	--column--width--1: 95%;
	--column--width--2: 38%;
	--column--width--3: 29%;
	--column--width--4: 22%;	
}



/* ------------------------------ */
/* Variable Spalten von 4 bis 1   */
/* ------------------------------ */
div.wp-block-group.alignwide.flexible_spalten {
    max-width: calc(var(--columns--width) - var(--columns--margin));
    width: calc(var(--columns--width) - var(--columns--margin));
	margin-left:var(--columns--margin);
	flex-direction: row;
  display: flex;
  flex-wrap: wrap;
	width: var(--columns--width);
	/* Standardwert:
	justify-content: flex-start; */
	/* eingestellt: space-around*/
	justify-content: left; 
  /* Flexelemente werden gleichmäßig innerhalb der Zeile verteilt, sodass die Leerräume zwischen zwei angrenzenden Elementen gleich sind. Sonst:
  justify-content: center;*/
}

/* Absatz innerhalb der Spalte */
div.flexible_spalten .wp-block-group__inner-container p{
		padding: 1rem;
}

/* ggfs. zusätzlicher Rand oben und unten */

/*.wp-block-group .wp-block-group__inner-container > * {
    margin-top: var(--column--vertical);
    margin-bottom: var(--column--vertical);
}
*/



/* unnötig bei twenty twenty, aber notwendig z. B. bei twenty twenty one */
/*.wp-block-group .wp-block-group__inner-container > *:first-child {
    margin-top: var(--column--vertical);
    margin-bottom: var(--column--vertical);
}

.wp-block-group .wp-block-group__inner-container > *:last-child {
    margin-top: var(--column--vertical);
    margin-bottom: var(--column--vertical);
}
*/


/* Schriftgröße für h2 bei Spalten */
div.wp-block-columns.kacheln h2{
	font-size: var(--column--font-size-h2);
}


/* Hintergrundfarbe und evtl. zusätzliches Padding und Margin Kacheln */
div.wp-block-columns.kacheln {
	  margin-top: var(--column--vertical);
    margin-bottom: var(--column--vertical);
	  padding-top: var(--column--vertical);
    padding-bottom: var(--column--vertical);
		background-color: var(--kachel--background);
}

/* 4 Spalten (Spaltenbreite jeweils 24%)*/
@media (min-width: 1500px)  {
div.wp-block-columns.kacheln {
    width: var(--column--width--4);
		/*linksbündig mit Rand */
		margin-left: 1.6vw;
    margin-right: 0.4vw;
  }
}


/* 3 Spalten (Spaltenbreite jeweils 30%) */
@media (min-width: 1121px) and (max-width: 1499px) {
div.wp-block-columns.kacheln {
    width: var(--column--width--3);
		/* damit bei 3 Spalten die Spalten nicht zentriert, sondern links ausgerichtet sind: */
		/*linksbündig mit Rand */
    margin-left: 1.9vw;
    margin-right: 1vw;
  }
}

/* 2 Spalten (Spaltenbreite jeweils 40%)*/
@media (min-width: 600px) and (max-width: 1120px) {
div.wp-block-columns.kacheln {
    width: var(--column--width--2);
		margin-left: 5.5vw;
    margin-right: 4vw;
}
}


/* 1 Spalte - Spaltenbreite: 90% */
@media (max-width: 599px) {
div.wp-block-columns.kacheln{
    width: var(--column--width--1);
}
}

	
/* dezenter Hover-Effekt bei Kacheln */
.wp-block-columns.kacheln:hover {
 		opacity:0.7;
  	transform: scale(1.01, 1.01);	
}

/* -------- weitere Tests -------- */

.wp-block-group.container {
    background-color: #cacaca;
		padding: 10px;
		margin: 50px;
	  margin-left: auto;
    margin-right: auto;
}

.wp-block-columns.item {
    background-color: #ff0037;
		color: #fff;
		font-size: 35px;
		padding: 20px;
		margin: 10px;
}

/*
header.entry-header.has-text-align-center.header-footer-group {
    display: none;
}

main#site-content {
    margin-top: -18rem;
}
*/

