/* 
Blau: #009FE3                              
Blau Hover: #59C6F2
Hellgrau: #EAEAEA                             
Dunkelgrau: #818181
https://www.mediaevent.de/css/display-table.html
*/

@media screen and (max-width: 900px) {
  /* hamburger button */
  .wp-block-navigation__responsive-container-open  {
    display: block !important;
  }

  /* full menu */
  .wp-block-navigation__responsive-container:not(.is-menu-open.has-modal-open) {
    display: none !important;
  }
.wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
    background-color: rgb(255 255 255 / 90%);
  }
ul.wp-block-navigation__container.is-responsive.items-justified-right.wp-block-navigation {
    background-color: white;
    padding: 3rem;
}
}

/* wenn nicht href, dann Standard-Cursor */
a:not([href]) {
  cursor: default;
}


/* color für Schrift auf Kachel */
p.has-text-align-center.p_kachel.has-large-font-size {
    color: white;
}

/* PDF-Wochenplan-Dateien */
.pdf-button {
    display: table;
    background-color: var(--wp--preset--color--hellblau);
    color: var(--wp--preset--color--contrast);
    padding: calc(0.667em + 2px) calc(1.333em + 2px);
    text-align: center;
}

.pdf-button a {
    text-decoration:none;
color: var(--wp--preset--color--contrast);
}

.pdf-button a:hover {
    text-decoration:none;
    color: var(--wp--preset--color--base);
}

.pdf-button:hover {
    background-color: var(--wp--preset--color--kraeftiges-blau);
    color: var(--wp--preset--color--base);
}


.pdf-button-not-found {
    width: inherit;
    text-align: center;
}

/* oberen Rand deaktivieren */
.wp-site-blocks {
  padding-top: 0px;
}


/* Größe des Logos je nach Viewport anpassen */
img.custom-logo {
  width: clamp(15.625rem, 12.216rem + 17.05vw, 15rem);
}


/* kleine Animation bei sticky navigation */
.wp-block-group.has-base-background-color.has-background.has-global-padding.is-layout-constrained.wp-container-6.is-position-sticky {
top: -10px;
background-color: white;
}

/* wegen Problem mit ios */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2) {
.sport_cover .wp-block-cover__image-background {
  background-attachment: scroll;
}
}
