/* Custom CSS */

/* Veranstalterdaten nebeneinander mit mehr Platz bei einzelner Veranstaltung */
@media screen and (max-width: 768px) {
.tribe-events-meta-group.tribe-events-meta-group-organizer,
.tribe-events-meta-group.tribe-events-meta-group-details,
.tribe-events-meta-group.tribe-events-meta-group-venue	
	{
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
.tribe-events-meta-group.tribe-events-meta-group-organizer,
.tribe-events-meta-group.tribe-events-meta-group-details,
.tribe-events-meta-group.tribe-events-meta-group-venue
	{
    width: 50%;
  }
}


/* für wichtige Infos */
p.links_wichtig{
   border-left: 5px solid #ef7f1a;
	 padding: 10px;
}

/* für Zitate */
blockquote.wp-block-quote.links_schwarz {
    border-left: 5px solid #000000;
    padding: 10px;
    padding-left: 1.5em;
}

/* Besondere Veranstaltungen */
/* Überschrift */
.tribe-common .tribe-common-h--alt {
    padding: 20px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    text-transform: none;
}

/* Hintergrundfarbe */
.tribe-events-widget-events-list {
    background-color: white;
}

/* Link */
.tribe-events-widget .tribe-events-widget-events-list__view-more-link {
    color: #df5022!important;
    text-transform: capitalize;
		padding-left: 40px;
}

.tribe-events-widget .tribe-events-widget-events-list__view-more-link:visited {
    color: #df5022!important;
}

.tribe-events-widget .tribe-events-widget-events-list__view-more-link:active,.tribe-events-widget .tribe-events-widget-events-list__view-more-link:focus,.tribe-events-widget .tribe-events-widget-events-list__view-more-link:hover {
    color: #000000!important;
    border-bottom-color: transparent!important;
}

/* ------------------------------ */

/* Einen Block verstecken - unter erweitert: */
.inhalt_verstecken {
    display: none; 
}

/* Anzeige von Online-Events */
span.tribe-ext-events-control-online-event__text {
    color: #f4eede;
    background-color: #df5022;
}

/* in einem farbigen Kasten mit einer Schriftfarbe weiß, muss der Link in roter Schrift angezeigt werden */
a.corona-button-beitrag {
    color: #df5022!important;
}

/* Höhe des Elements immer 90px, damit die Bilder immer eine Linie bilden */

@media (max-width: 1099px) {
	h2.entry-title {
			height: unset;
	}
}


@media (min-width: 1100px) and (max-width: 1350px) {
	h2.entry-title {
			height: 6.8em;
	}
}

@media (min-width: 1351px) {
	h2.entry-title {
			height: 4.8em;
	}
}


/* Link als Pfeil anzeigen, wenn Oberpunkt nicht angewählt werden soll */
.menu-item a:not([href]) {
    cursor: default;
}

/* Logo mit opacity-Effekt */
.site-header .header-image {
		background-color: rgb(244,238,222);
    opacity: 0.6;
}
/* ----------------------------- */
/* Navigation                    */
/* ----------------------------- */

/* Einstellungen für das Desktop-Menü */
@media (min-width: 769px) {
    /* nav links effect */
    .main-navigation .menu > .menu-item > a::after {
        content: "";
        position: absolute;
        right: 0;
        left: 50%;
        bottom: 0px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        color: #df5022;
        display: block;
        width: 0;
        height: 5px;   
        background-color: currentColor;
        transition: 0.3s width ease;
    }
    .main-navigation .menu > .menu-item.current-menu-item > a::after,
    .main-navigation .menu > .menu-item > a:hover::after {
        width: 100%;
				color: #000000;
    }
	
	.main-navigation .menu > .menu-item.current-menu-item > a::after,
    .main-navigation .menu > .menu-item.current-menu-ancestor > a::after,
    .main-navigation .menu > .menu-item > a:active::after {
        width: 100%;
		color: #df5022;
    }
	/* Submenü */
	ul.sub-menu {
    opacity: 0.9!important;
	}

    /* Hover bei Untermenüpunkten */
    .main-navigation .main-nav ul ul li[class*="current-menu-"] > a:hover, .main-navigation .main-nav ul ul li[class*="current-menu-"].sfHover > a {
        color: #F4EEDE;
        background-color: #DF5022;
    }
    /* Active bei Untermenüpunkten */
    .main-navigation .main-nav ul ul li[class*="current-menu-"] > a:active {
        color: #DF5022;
        background-color: #F4EEDE;
    }
    .main-navigation .main-nav ul ul li[class*="current-menu-"] > a:focus {
        color: #DF5022;
        background-color: #F4EEDE;
    }
}

/* Breakpoint auf eine Spalte schon bei 1100px */
@media (max-width: 1100px) {
    .generate-columns-container .mobile-grid-100 {
        width: calc(100% - 5px);
    }
    .generate-columns-container {
        justify-content: space-between;
    }
}

/*
img.header-image.is-logo-image {
    max-width: 130px;
}

	/* auf schmaleren Displays anderes Bild zeigen */
@media (max-width: 768px) {
	.page-hero {
		    background-image: url(https://aachen50plus.de/wp-content/uploads/2020/12/shutterstock_218267185_Andrey-Arkusha.jpg);
	}
	img.header-image.is-logo-image {
    max-width: 100px;
	}
}

/* Breakpoint Sidebar unter content nicht schon bei 1100px, sondern wegen der Werbung bei 770px */
@media (max-width: 770px) {
	 .site-content .content-area {
        width: 100%;
   }
	
	/* Problemzone */
/*	.site-content {
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
 	}
    
	#left-sidebar {
		order: 2;
		width: 100%;
		left: 0;

	}
    
	.content-area {   
		-webkit-order: 2;  
		order: 1;
		left: 0;

	}
*/
}

