/* Farben 
 * 
blau: #006FC8, (0,111,200, 1)
Hellblau: #4DA4EB, (77, 164, 235, 1)
weiß:  #FFFFFF, (255,255,255,1)
hellgrau: #EDEDED, (237,237,237)
grau: #424242, (66,66,66)
dunkelgrau: #818181, (129,129,129)
*/


/* Variablen */
:root {
	--blau: rgb(0, 111, 200);
	--blau-transpa: rgba(0, 111, 200, 0.9);
	--hellblau: rgb(77, 164, 235);
	--weiss: rgb(255, 255, 255);
	--grau: rgb(66, 66, 66);
	--petrol-color: rgb(39, 132, 132);
	--hellgruen-color: rgb(189, 231, 207);
	--gelb-color: rgb(240, 213, 72);
	--hellgrau-color: rgb(237, 237, 237);
	--dunkelgrau-color: rgb(129, 129, 129);
	--orange: rgb(213, 127, 4);
}

/* h2 */
h2 {
    font-size: clamp(1rem, 0.795rem + 1.02vw, 1.563rem);
}

/* hellblauer Rand unter blauem Header */
.gb-container.gb-container-79bb67ca.alignwide {
    border-bottom: 6px solid var(--hellblau);
		background-color: var(--blau);
}

/* Header-Höhe auf allen Seiten und Beiträgen außer der Startseite */
.page-id-4816 .gb-container.gb-container-79bb67ca.alignwide {
    min-height: 200px;
}

.gb-container.gb-container-79bb67ca.alignwide {
    min-height: 140px;
}

/* Höhe mobiles Menü */
@media (max-width: 767px) {
.gb-container-79bb67ca > .gb-inside-container {
    padding: 20px 20px 50px;
	}
.gb-container.gb-container-79bb67ca.alignwide {
    min-height: 40px;
	}
}

/* mobile menü */
@media (max-width: 992px) {
	.inside-navigation.grid-container.grid-parent {
			background-color: var(--blau-transpa);
	}
}

/* sticky Menue mit Opacity */
.sticky-enabled .main-navigation.is_stuck {
    background-color: var(--blau-transpa);
}


/* newest post roundet corner */
img.gb-image-12188bef {
    border-radius: 15px;
}



/* GeneratePress Site CSS */ /* navigation hover lift 

.main-navigation .main-nav ul li > a {
	-webkit-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
		-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.main-navigation .main-nav ul li:hover > a {
	-webkit-transform: translate3d(0, -4px, 0);
	transform: translate3d(0, -4px, 0);
}
*/

/* ----------------------------- */
/* Navigation                    */
/* ----------------------------- */

/* Einstellungen für das Desktop-Menü */
@media (min-width: 900px) {
    /* nav links effect */
    .main-navigation .menu > .menu-item > a::after {
        content: "";
        position: absolute;
        right: 0;
        left: 50%;
        /* bottom: -5px; */
        bottom: 0px;		
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        color: var(--weiss);
        display: block;
        width: 0;
        height: 3px;
    
        background-color: currentColor;
        transition: 0.3s width ease;
    }
    .main-navigation .menu > .menu-item.current-menu-item > a::after,
    .main-navigation .menu > .menu-item > a:hover::after {
        width: 100%;
    }
	
	.main-navigation .menu > .menu-item.current-menu-item > a::after,
    .main-navigation .menu > .menu-item.current-menu-ancestor > a::after,
    .main-navigation .menu > .menu-item > a:active::after {
      width: 100%;
			color: var(--weiss);
    }


    /* graue Linie zwischen Menü und Content */ 
    .separate-containers .site-main {
            margin: 0px;
            border-top: 5px solid #9a9a9a;
    }

    /* Hover bei Untermenüpunkten */
    .main-navigation .main-nav ul ul li[class*="current-menu-"] > a:hover, .main-navigation .main-nav ul ul li[class*="current-menu-"].sfHover > a {
        color: #E1E7F0;
        background-color: var(--weiss);
    }
    /* Active bei Untermenüpunkten */
    .main-navigation .main-nav ul ul li[class*="current-menu-"] > a:active {
        color: #E1E7F0;
        background-color: var(--weiss);
    }
    .main-navigation .main-nav ul ul li[class*="current-menu-"] > a:focus {
        color: #E1E7F0;
        background-color: var(--weiss);
    }
}


/* Links im Footer */
.gb-container-79bb67ca a,
.site-info a,
.inside-right-sidebar a,
.inside-article a{
		text-decoration: underline;
    text-decoration-style: dotted;
		text-underline-offset: 0.3em;
}

.gb-container-79bb67ca a:hover,
.site-info a:hover,
.inside-right-sidebar a:hover,
.inside-article a:hover{
    text-decoration: underline;
    text-decoration-style: solid;
}


/* mobile header spacing */

.mobile-header-navigation {
/* padding: 10px; */
box-sizing: border-box;
}

/* image rounded corners */

.image-style img {
	border-radius: 12px;
	margin: 10px 0px;
} 

/* post images rounded corners */

.featured-image img, .post-image img {
	border-radius: 12px;
}

/* wpsp read more underline */

.wpsp-read-more {
	text-decoration: underline;
}

/* wpsp image rounded corners */

.wp-show-posts-image img {
	border-radius: 12px;
} /* End GeneratePress Site CSS */