/* Custom CSS */

/* Farben aachen50plus.de:
RGB 223-80-34 #DF5022 (rot)
RGB 0-0-0 #000000 (schwarz)
RGB 179-179-179 #B3B3B3 (grau)
RGB 244-238-222 #F4EEDE (eierschale)
FARBWERTE
Web und Bildschirm Druck
*/


/* Button weiterlesen mit mehr Innenabstand */
.tribe-events-calendar-list__event-details.tribe-common-g-col a {
    padding: 0.5rem;
    margin-top: 0.2rem;
}

/* Embed Privacy in Datenschutzerklärung */
label.embed-privacy-opt-out-label {
    padding-left: 10px;
}

/* Ausschalter für Anzeige Freizeitmöglichkeit */
i.fa.fa-times.ol-info-window-close {
    font-size: 20px;
}

/* Absatzstyle für Copyright oben */
p.em_bild {
	font-style: italic;
	margin-bottom: 4rem;
}

/* Breakpoint bei Archive 1-Spaltig bis 1024px */
@media (min-width: 768px) and (max-width: 1024px){
	.generate-columns.tablet-grid-50, .grid-sizer.tablet-grid-50 {
			width: 100%;
	}
}

/* damit der Anker korrekt angesteuert werden kann - deaktiviert, 3.11.2022 
[id^="htoc-"] { 
	padding-top: 130px; 
	margin-top: -130px!important;
}
*/

/* Anzeige mit 100% bei Veranstaltungen */
.tribe-events-calendar-list__event-wrapper.tribe-common-g-col >
.generate-columns.grid-50 {
	width: 100%;
}

/* Farben im Cookie-Banner */
.cn-button.bootstrap {
    color: #fff;
    background: #DF5022;
}

/* TEST */

/* Farbe für den aktuellen Tag */
time.tribe-events-calendar-month__day-date-daynum {
    color: black;
}

/* Tagesdatum rot */
button.tribe-events-calendar-month__day-cell.tribe-events-calendar-month__day-cell--mobile.tribe-events-calendar-month__day-cell--selected {
    background-color: #F4EEDE;
}


/* ausgewählter Tag */
.tribe-events .tribe-events-calendar-month__day-cell--selected .tribe-events-calendar-month__day-date {
	opacity: 1.0;
}

/* vergangene Tage */
.tribe-events .tribe-events-calendar-month__day--past .tribe-events-calendar-month__day-date
{
	opacity: 0.5;
}


/* Farbe eiergelb beim Hover */
.tribe-common.tribe-events.tribe-events-widget-shortcode.tribe-events-widget-shortcode-events-month .tribe-events-calendar-month__day-cell--mobile:focus, .tribe-common.tribe-events.tribe-events-widget-shortcode.tribe-events-widget-shortcode-events-month .tribe-events-calendar-month__day-cell--mobile:hover {
    background-color: rgba(249,184,30,.2)!important;
}

/* Hintergrund bei Tagen */
.tribe-events-calendar-month__header-row {
    background-color: #DF5022;
}

/* Farbe für einzelnen Tag */
h3.tribe-events-calendar-month__header-column-title.tribe-common-b3 {
    font-size: 1.0em;
    color: white;
}


/* Schriftgröße im Kalender */
.tribe-common .tribe-common-h--alt {
    padding: 1.3em;
		/*font-size: calc(0.6em + 5px);
     font-size: 0.8em; */
    line-height: 0.5;
}

@media (max-width: 425px) {
	.tribe-common .tribe-common-h--alt{
			font-size: 0.8em; 
	}
}

@media (min-width: 426px) {
	.tribe-common .tribe-common-h--alt{
			font-size: 1.2em; 
	}
}

@media (min-width: 769px) {
	.tribe-common .tribe-common-h--alt{
			font-size: 0.7em; 
	}
}


@media (min-width: 1095px) {
	.tribe-common .tribe-common-h--alt{
			font-size: 1em; 
	}
}




/* runder Punkt rot */
.tribe-events .tribe-events-calendar-month__mobile-events-icon--event {
    background-color: #DF5022!important;
}


/* statt 50% Breite Calendar-Widget */  
.tribe-events .tribe-events-calendar-month-mobile-events__mobile-event {
    width: 100%!important;
}

/* TEST */

/* Hintergrund heller */
.widget .search-form button.search-submit {
  background-color: #b3b3b3;
}


/* wegen besserer Sichtbarkeit */
.gp-icon svg {
  fill: black;
}

/* schräge Kante beim Bild auf der Startseite */ 
.schraeg {
clip-path: polygon(0 0, 100% 0, 100% 85%, 66% 100%, 0 85%);
}


/* Breadcrumb - Schriftgröße und Rand nach oben ändern */
.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-breadcrumbs__list {
  font-size: 22px;
  margin-top: 5px;
}


/* Image auf Hauptseite beim ersten Eintrag in voller Breite */
.resize-featured-image .post-image img {
width: 100%;
}




/* Damit die Karte das Sticky Menue nicht überdeckt */
.leaflet-container {
z-index:0;
}


/* Karte in maximaler Breite */
.single-tribe_events .secondary .tribe-events-venue-map {
width: 90%;
}

/* hat nicht funktioniert 
.leaflet-map.WPLeafletMap.leaflet-container.leaflet-touch.leaflet-retina.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
z-index: -1;
}

/*------------------------------------*/
/* Einstellungen für die Frontpage */
/*------------------------------------*/
.page-hero-buttons, .ackids_front {
margin-left:20%;
margin-right:20%;	
}

.ackids_front {
padding: 20px;
background: rgba(0, 0, 0, 0.2);
margin-bottom: 20px;	
color: white;
}

.ackids_front h2 {
font-weight: 600;
margin-bottom: 10px;
margin-top: 10px;
text-shadow: 0px 0px 0.2rem #F9B81E;
}

@media (max-width: 350px) {
.ackids_front h2 {
font-size: 1.3rem;
}
}	

@media (min-width: 351px) {
.ackids_front h2 {
font-size: 1.5rem;
}
}	

@media (min-width: 461px) {
.ackids_front h2 {
font-size: 2rem;
}
}	


/* Maximale Breite für den Minikalender */
.tribe-mini-calendar-grid-wrapper {
max-width: 300px;
}


/* Ken Burns Effekt auf Beitragsseiten */
.__abgeschaltet_featured-image.page-header-image-single {
overflow: hidden;
}

/* hier die Regeln für das Bild */
.__abgeschaltet_featured-image.page-header-image-single img {	
min-width: 100%;
min-height: 100%; 
/* Add infinite to loop. 
animation: move 15s ease;
-ms-animation: move 15s ease;
-webkit-animation: move 15s ease;
-animation: move 15s ease;
-moz-animation: move 15s ease;
position: relative; 
/* width: 100%; 
max-height: 400px; */
}

@keyframes move {
0% {
/*
-webkit-transform-origin: left;
-moz-transform-origin: left;
-ms-transform-origin: left;
-o-transform-origin: left;
transform-origin: left;
*/
transform: scale(1.0);
-ms-transform: scale(1.0);
/* IE 9 */

-webkit-transform: scale(1.0);
/* Safari and Chrome */

-o-transform: scale(1.0);
/* Opera */

-moz-transform: scale(1.0);
/* Firefox */
}
50% {
transform: scale(1.1);
-ms-transform: scale(1.1);
/* IE 9 */

-webkit-transform: scale(1.1);
/* Safari and Chrome */

-o-transform: scale(1.1);
/* Opera */

-moz-transform: scale(1.1);
/* Firefox */
}
100% {

transform: scale(1.0);
-ms-transform: scale(1.0);
/* IE 9 */

-webkit-transform: scale(1.0);
/* Safari and Chrome */

-o-transform: scale(1.0);
/* Opera */

-moz-transform: scale(1.0);
/* Firefox */
}
}


/* nur zum Testen - besser in Customizer ändern */
nav#sticky-navigation {
opacity: 0.9;
}



/* .header-wrap .site-header {
background: #F9B81E;
}

div#primary-menu {
background-color: #F9B81E;
}
*/


/*------------------------------------*/

