/* Überschrift im Kopfbereich (hero) */
h2.front_hero {
	padding-right: 20rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
	padding-left: 2rem;
	color: white;
	background-color: black;
}

/* Animation (Fade) */
.animated {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig
}

@-webkit-keyframes fadeInLeftBig {
    0% {
        -webkit-transform: translate3d(-2000px,0,0);
        opacity: 0;
        transform: translate3d(-2000px,0,0)
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 0.6;
        transform: translateZ(0)
    }
}

@keyframes fadeInLeftBig {
    0% {
        -webkit-transform: translate3d(-2000px,0,0);
        opacity: 0;
        transform: translate3d(-2000px,0,0)
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 0.6;
        transform: translateZ(0)
    }
}