/* für Rabenhorst aninmierter Pfeil im Menü */ 
span.gp-icon.icon-arrow {
	content: "❯";
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	transition: all 0.5s;
	transform: rotate(0deg);
}

span.gp-icon.icon-arrow-right {
	content: "❯";
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	transition: all 0.5s;
	transform: rotate(90deg);
}

span.gp-icon.icon-arrow:hover{
	content: "❯";
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	transition: all 0.5s;
	transform: rotate(-180deg);
}

span.gp-icon.icon-arrow-right:hover{
	content: "❯";
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	transition: all 0.5s;
	transform: rotate(-90deg);
}


@media screen and (max-width: 1650px) {	

	table {width:100%;}
	thead {display: none;}
	tr:nth-of-type(2n) {background-color: inherit;}
	tr td:first-child {background: #f0f0f0; font-weight:bold;font-size:1em;}
	tbody td {display: block;  text-align:left;}
	tbody td:before {
		content: attr(data-th);
		display: block;
		text-align:left; 
	}
  }

/* nur bei Verwendung des Sticky Blocks */
.block-is-sticky {
    max-height: 100vh;
    overflow-y: auto;
}


/* für Rabenhorst aninmierter Pfeil im Menü  - rausgenommen: 24.7.2023
span.gp-icon.icon-arrow {
	content: "❯";
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	transition: all 0.5s;
	transform: rotate(0deg);
}

span.gp-icon.icon-arrow-right {
	content: "❯";
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	transition: all 0.5s;
	transform: rotate(90deg);
}

span.gp-icon.icon-arrow:hover{
	content: "❯";
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	transition: all 0.5s;
	transform: rotate(-180deg);
}

span.gp-icon.icon-arrow-right:hover{
	content: "❯";
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	transition: all 0.5s;
	transform: rotate(-90deg);
}
*/