:where(.wp-site-blocks *:focus){outline-width:2px;outline-style:solid}

/* Bildunterschriften zentriert */
figure.wp-block-image figcaption {
    text-align: center;
}


/* Button: hover */
.wp-element-button:hover, .wp-block-button__link:hover {
    background-color: var(--wp--preset--color--contrast-3);
    border-color: var(--wp--preset--color--contrast-3);
    color: var(--wp--preset--color--base);
}


a.wp-block-navigation-item__content {
    text-underline-offset: 3px;
    transition: all .2s;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}


a.wp-block-navigation-item__content:hover {
    text-underline-offset: 5px;
    transition: all .2s;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}


/* Media Query für Navigation */
@media (min-width: 600px) {
.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
display: none;
}

.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) .wp-block-navigation__responsive-container-close {
    display: none
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__submenu-container.wp-block-navigation__submenu-container.wp-block-navigation__submenu-container.wp-block-navigation__submenu-container {
    left: 0
}
}

@media (min-width: 600px) and (max-width: 800px) {
.wp-block-navigation__responsive-container-open:not(.always-shown) {
display: flex;
}
}

@media (min-width: 801px) {
.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
display: block;
}

.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) .wp-block-navigation__responsive-container-close {
    display: none
}

.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__submenu-container.wp-block-navigation__submenu-container.wp-block-navigation__submenu-container.wp-block-navigation__submenu-container {
    left: 0
}
}