.gruppe-mit-cover {
    overflow: hidden;
}

/* Einstellungen Cover übernehmen */
@media (min-width: 960px) {
    div.header-cover {
        min-height: 60vh !important;
        aspect-ratio: unset !important;
    }
}

/* Hinter- und Vordergrundfarbe beim Embed Privacy */
.embed-privacy-overlay {
    background-color: var(--wp--preset--color--custom-mittelgr-n);
}

.embed-privacy-overlay p,
.embed-privacy-overlay label,
.embed-privacy-overlay a {
    color: var(--wp--preset--color--custom-weiss);
}

/* GS-Logo Slider: Vor und zurück größer */
.gs_logo_area.carousel_nav_pos--bottom .swiper-button-prev,
.gs_logo_area.carousel_nav_pos--bottom .swiper-button-next,
.gs_logo_area.carousel_nav_pos--bottom .swiper-container-rtl .swiper-button-next,
.gs_logo_area.carousel_nav_pos--bottom .swiper-container-rtl .swiper-button-prev {
    width: 3rem;
    height: 3rem;
    /* margin-right: -80px; */
}

.gs_logo_area .swiper-button-next svg,
.gs_logo_area .swiper-button-prev svg {
    width: 20px;
}

div#gs_logo_area_49 .swiper-button-prev,
div#gs_logo_area_49 .swiper-button-next {
    margin-right: -4rem;
    margin-left: -4rem;
}

/* Workaround für Link bei H2 - Schrifart behalten */
h2 a,
h2.link-in-card a {
    font-family: var(--wp--preset--font-family--finger-paint);
    text-decoration: none;
    line-height: 1.6;
}

/* Problem bei Firefox auf der Startpage */
.wp-block-image.alignfull.size-full.wave_startpage_image img,
.wp-block-image.alignfull.size-full.wave_image img {
    height: 9rem;
}

/* Buttons */
/* roter Button mit rotem Outline bei Hover */
/* Buttons */
/* roter Button mit rotem Outline bei Hover */
div.roter_button a:hover,
div.roter_button a:focus,
div.roter_button a:active {
    outline-color: var(--wp--preset--color--custom-dunkelrot);
}


/* grüner Button mit grünem Outline bei Hover */
div.gruener_button a:hover,
div.gruener_button a:focus,
div.gruener_button a:active {
    outline-color: var(--wp--preset--color--custom-mittelgr-n) !important;
}

/* Desktop Menü */
/* Menü bei hover */
/* Logo nicht bei Hover hervorheben */
.wp-block-site-logo a:hover {
    text-decoration: none;
    background-color: inherit;
}

/* alle Links außer Buttons */
a:where(:not(.wp-element-button)) {
    text-underline-offset: 7px;
    transition: all .2s;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

a:where(:not(.wp-element-button)):hover {
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

.wp-block-navigation a:where(:not(.wp-element-button)) {
    text-decoration: none;
    padding: 0.3em 0.5em;
    text-decoration: none;
}

/* Links in Navigation */
.wp-block-navigation a:where(:not(.wp-element-button)):hover {
    text-decoration: none;
    background-color: var(--wp--preset--color--custom-mittelgr-n) !important;
    color: var(--wp--preset--color--custom-weiss) !important;
}

.wp-block-navigation a:where(:not(.wp-element-button)):focus,
.wp-block-navigation a:where(:not(.wp-element-button)):active {
    text-decoration: none;
    background-color: var(--wp--preset--color--custom-gelb) !important;
    color: var(--wp--preset--color--custom-schwarz) !important;
    outline: 2px;
}