.gruppe-mit-cover {
    overflow: hidden;
}

/* Problem bei Firefox auf der Startpage */
.wp-block-image.alignfull.size-full.wave_startpage_image img,
.wp-block-image.alignfull.size-full.wave_image img {
    height: 9rem;
}

/* Überschrift h2 als Link  */
h2.link-in-card a {
    font-family: 'Finger Paint';
    text-decoration: none;
}


/* Buttons */
/* roter Button mit rotem Outline bei Hover */
/* Buttons */
/* roter Button mit rotem Outline bei Hover */
div.roter_button a:hover,
div.roter_button a:focus,
div.roter_button a:active,
.wp-block-button.is-style-button-brand.is-style-button-brand--3 a:hover,
.wp-block-button.is-style-button-brand.is-style-button-brand--3 a:focus,
.wp-block-button.is-style-button-brand.is-style-button-brand--3 a:active {
    outline-color: var(--wp--preset--color--custom-dunkelrot);
}


/* grüner Button mit grünem Outline bei Hover */
div.gruener_button a:hover,
div.gruener_button a:focus,
div.gruener_button a:active,
.wp-block-button.is-style-button-brand-alt.is-style-button-brand-alt--4 a:hover,
.wp-block-button.is-style-button-brand-alt.is-style-button-brand-alt--4 a:focus,
.wp-block-button.is-style-button-brand-alt.is-style-button-brand-alt--4 a:active {
    outline-color: var(--wp--preset--color--custom-mittelgr-n);
}

/* language switcher */
h2.widgettitle {
    font-size: medium;
    font-family: 'Lexend';
    text-align: center;
    visibility: hidden;
    display: none;
}

div.widget_polylang ul {
    list-style-type: none;
}

/* Desktop Menü */
/* Menü bei hover */
/* Logo nicht bei Hover hervorheben */
.wp-block-site-logo a:hover {
    text-decoration: none;
    background-color: inherit;
}

/* alle Links außer Buttons */
a:where(:not(.wp-element-button)) {
    text-underline-offset: 7px;
    transition: all .2s;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

a:where(:not(.wp-element-button)):hover {
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

.wp-block-navigation a:where(:not(.wp-element-button)) {
    text-decoration: none;
    padding: 0.3em 0.5em;
    text-decoration: none;
}

/* Links in Navigation */
.wp-block-navigation a:where(:not(.wp-element-button)):hover {
    text-decoration: none;
    background-color: var(--wp--preset--color--custom-dunkelrot) !important;
    color: var(--wp--preset--color--custom-weiss) !important;
}

.wp-block-navigation a:where(:not(.wp-element-button)):focus,
.wp-block-navigation a:where(:not(.wp-element-button)):active {
    text-decoration: none;
    background-color: var(--wp--preset--color--custom-mittelgr-n) !important;
    color: var(--wp--preset--color--custom-weiss) !important;
    outline: 2px;
}