.gruppe-mit-cover {
    overflow: hidden;
}

/* Problem bei Firefox auf der Startpage */
.wp-block-image.alignfull.size-full.wave_startpage_image img,
.wp-block-image.alignfull.size-full.wave_image img {
    height: 9rem;
}

/* Überschrift h2 als Link  */
h2.link-in-card a {
    font-family: 'Finger Paint';
    text-decoration: none;
}


/* Buttons */
/* roter Button mit rotem Outline bei Hover */
div.roter_button a:hover,
div.roter_button a:focus,
div.roter_button a:active {
    outline-color: var(--wp--preset--color--custom-dunkelrot);
}


/* roter Button mit rotem Outline bei Hover */
div.gruener_button a:hover,
div.gruener_button a:focus,
div.gruener_button a:active {
    outline-color: var(--wp--preset--color--custom-mittelgr-n);
}

/* language switcher */
h2.widgettitle {
    font-size: medium;
    font-family: 'Lexend';
    text-align: center;
    visibility: hidden;
    display: none;
}

div.widget_polylang ul {
    list-style-type: none;
}

/* Mobile: < 976px – Spalten gestapelt, Reihenfolge umkehren 
@media screen and (max-width: 1076px) {

  .inhaltsspalten .spalte-1 {
    order: 2;
  }

  .inhaltsspalten .spalte-2 {
    order: 1;
  }

  div.abstand-spalte-2 {
       display: none;
   }
}
*/