/* Custom CSS */
/* Farben:
Lila #7982AD 
Ocker #B79B48 
Blau #4586D2 
Rot #DB2E19 
Gelb #FBDF23 
Grün #389931
Schriftfarbe #3E2013
*/


/* Höhe der Menüpunkte verringern (war 60px) */
.main-navigation .main-nav ul li a {
    line-height: 45px
}

/* Höhe des Logos größer */
.navigation-branding img, .site-logo.mobile-header-logo img {
    height: 100px;
}

/* ---------------------- */
/* Farbige H2 - Container */
/* ---------------------- */

/* Containergestaltung für Überschrift 2 */
h2.alignfull.has-text-align-center.ueberschrift_gelb,
h2.alignfull.has-text-align-center.ueberschrift_rot{
    /* height: 10rem; */
    border-radius: 55px 0px 55px 0px;
		/* padding-top:50px; */
		margin-left: 0vw;
		margin-right: 0vw;
		margin-bottom: 3rem;
		color: white;
}

h2.alignfull.has-text-align-center.ueberschrift_gelb {
    background-color: rgba(251,223,35);
		color: black;
}

h2.alignfull.has-text-align-center.ueberschrift_rot {
    background-color: rgba(219,46,25);
}



/* Startseite: Lila */
li#menu-item-8 a {
    background-color: rgba(121,130,173);
	  color: white;
		border-radius: 17px 0px 17px 0px;
		margin-right:4px;
}

li#menu-item-8 a:hover {
    background-color: rgba(121,130,173,0.3);
}

/* Unsere Schule: Ocker */
li#menu-item-16 a {
    background-color: rgba(183,155,72);
	  color: white;
		border-radius: 17px 0px 17px 0px;
		margin-right:4px;
}

li#menu-item-16 a:hover {
    background-color: rgba(183,155,72,0.3);
}


/* OGS: Blau */
li#menu-item-17 a{
    background-color: rgba(69,134,210);
	  color: white;
		border-radius: 17px 0px 17px 0px;
		margin-right:4px;
}

li#menu-item-17 a:hover {
    background-color: rgba(69,134,210,0.3);
}

/* Termine: rot */
li#menu-item-18 a{
    background-color: rgba(219,46,25);
	  color: white;
		border-radius: 17px 0px 17px 0px;
		margin-right:4px;
}

li#menu-item-18 a:hover {
    background-color: rgba(219,46,25,0.3);
}

/* Digitales Lernen: Gelb */
li#menu-item-19 a{
    background-color: rgba(251,223,35);
		border-radius: 17px 0px 17px 0px;
		margin-right:4px;
}

li#menu-item-19 a:hover {
    background-color: rgba(251,223,35,0.3);
}


/* Service: Grün */
li#menu-item-20 a {
    background-color: rgba(56,153,49);
    color: white;	
		border-radius: 17px 0px 17px 0px;
}

li#menu-item-20 a:hover {
    background-color: rgba(56,153,49,0.3);
}

