/* Custom CSS */
/* Farben:
Rot		    #E62115, rgb(230,33,21)
Orange	    #F18A1A, rgb(241,138,26)
Lila		#7982AD, rgb(121,130,173)
Ocker		#D5A12F, rgb(213,161,47)
Blau		#4587D3, rgb(69,135,211)
Grün		#67AB34, rgb(103,171,52)
Gelb		#F8DE17, rgb(248,222,23)
Schriftfarbe #3E2013, rgb(62,32,19)
*/

/* 
ul.wp-block-latest-posts__list.leistung.wp-block-latest-posts >li{
	font-size: initial;
	margin-bottom: initial;
}

ul.wp-block-latest-posts__list.leistung.wp-block-latest-posts >a{
	font-size: initial;
	margin-bottom: initial;
}
*/

/* Text neben Bild mit Rand */
@media (min-width: 600px) and (max-width: 781px) {
	.wp-block-column:not(:first-child) {
		margin-left: 1em;
	}
	}
	
	
	/* Breite Bild im Header */
	.wp-block-image.breite_bild img {
		width: 1120px;
	}
	
	.wp-block-buttons .mein_button a
	
	/* zusätzlicher linker Abstand bei Spalten */
	div.text_spalte {
		padding-left: 1rem;
	}
	
	/* Bild nicht zeigen auf der Hauptseite bei kleineren Displays */
	@media only screen and (max-width: 800px) {
		img.wp-image-225 {
		display: none;
		}
	}
	
	/* verkleinerte Ansicht der Grafik im Kopf */
	@media only screen and (max-width: 471px) {
	img.header-image.is-logo-image {
		width: 200px;
		}
	}
	
	/* Abstand zwischen den Beiträgen */
	ul.wp-block-latest-posts.wp-block-latest-posts__list >li{
		margin-bottom: 5rem;
	}
	
	/* Überschriften bei Beiträgen */
	ul.wp-block-latest-posts__list.wp-block-latest-posts >li >a{
		font-size: 2rem;
	  text-decoration: none;
	}
	
	/* Listen mit rotem Punkt */
	ul.eks_liste li::marker {
		color: #E62115;
	}
	
	/* Untermenüpunkte ohne abgerundete Ecken */
	ul.sub-menu >li >a{
		background-color: rgba(121,130,173,0.05)!important;
		border-radius: 0px!important;
		color: #3E2013!important;
	}
	
	ul.sub-menu >li >a:hover{
		background-color: #ffffff!important;
		border-radius: 0px!important;
	}
	
	/* Beim Untermenü kein Schatten */
	.main-navigation ul ul {
		box-shadow: 0px 0px 0 rgb(0 0 0 / 10%); 
	}
	
	/* Höhe der Menüpunkte verringern (war 60px) */
	.main-navigation .main-nav ul li a {
		line-height: 45px
	}
	
	/* Höhe des Logos größer */
	.navigation-branding img, .site-logo.mobile-header-logo img {
		height: 100px;
	}
	
	/* ---------------------- */
	/* Farbige H2 - Container */
	/* ---------------------- */
	
	/* Containergestaltung für Überschrift 2 */
	
	h2.has-text-align-center.h2_rot.has-background,
	h2.has-text-align-center.h2_lila.has-background,
	h2.has-text-align-center.h2_gelb.has-background,
	h2.has-text-align-center.h2_blau.has-background,
	h2.has-text-align-center.h2_gruen.has-background,
	h2.has-text-align-center.h2_orange.has-background
	{
	  border-radius: 55px 0px 55px 0px;
		padding: 20px 114px 20px 114px;
		margin-bottom: 3rem;
		color: white;
	}
	
	/* Containergestaltung für Überschrift 2 bei Devices kleiner oder gleich 768px */
	@media only screen and (max-width: 768px) {
		h2.has-text-align-center.h2_rot.has-background,
	h2.has-text-align-center.h2_lila.has-background,
	h2.has-text-align-center.h2_gelb.has-background,
	h2.has-text-align-center.h2_blau.has-background,
	h2.has-text-align-center.h2_gruen.has-background,
	h2.has-text-align-center.h2_ocker.has-background
	{
			border-radius: 35px 0px 35px 0px;
			padding: 20px 0px 20px 0px;
			font-size: 1.2em;
			margin-bottom: 2rem;
	}
	}
	
	
	
	h2.has-text-align-center.h2_gelb.has-background {
		color: #3E2013;	
	}
	
	
	/* ---------------------- */
	/* Farbige Menüpunkte     */
	/* ---------------------- */
	
	/* Startseite: Rot */
	li#menu-item-8 a {
		background-color: rgb(230,33,21);
		border-radius: 17px 0px 17px 0px;
		margin-right:4px;
		color: white;
	}
	
	li#menu-item-8 a:hover {
		background-color: rgba(230,33,21,0.3);
	}
	
	/* Unsere Schule: Lila */
	li#menu-item-16 a {
		background-color: rgb(121,130,173);
		border-radius: 17px 0px 17px 0px;
		margin-right:4px;
		color: white;
	}
	
	li#menu-item-16 a:hover {
		background-color: rgba(121,130,173,0.3);
	}
	
	
	/* OGS: Gelb */
	li#menu-item-17 a{
		background-color: rgb(248,222,23);
		border-radius: 17px 0px 17px 0px;
		margin-right:4px;
		color: black;
	}
	
	li#menu-item-17 a:hover {
		background-color: rgba(248,222,23,0.3);
	}
	
	/* Termine: Blau */
	li#menu-item-291 a{
		background-color: rgb(69,135,211);
		border-radius: 17px 0px 17px 0px;
		margin-right:4px;
		color: white;
	}
	
	li#menu-item-291 a:hover {
		background-color: rgba(69,135,211,0.3);
	}
	
	/* Digitales Lernen: Grün */
	li#menu-item-19 a{
		  background-color: rgb(103,171,52);
		border-radius: 17px 0px 17px 0px;
		margin-right:4px;
		color: white;
	}
	
	li#menu-item-19 a:hover {
		background-color: rgba(103,171,52,0.3);
	}
	
	
	/* Service: Orange */
	li#menu-item-20 a {
		background-color: rgb(241,138,26);
		border-radius: 17px 0px 17px 0px;
		color: white;
	}
	
	li#menu-item-20 a:hover {
		background-color: rgba(241,138,26,0.3);
	}
	
	