:where(.wp-site-blocks *:focus) {
    outline-width: 2px;
    outline-style: solid
}

/* Tabelle with scrollbar */
table#tablepress-1 {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

/* Make form fields taller and text larger */
.swpm-registration-form input,
.swpm-profile-form input {
    height: 45px;
    /* Adjust the height */
    font-size: 16px;
    /* Adjust the font size */
    padding: 10px;
    /* Add some padding */
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Buttons von Membership rot wie andere Buttons auch */
input.swpm-login-form-submit.swpm-submit-btn-default-style,
button.swpm-submit.swpm-profile-submit-button.swpm-submit-btn-default-style,
button.swpm-submit.swpm-registration-submit-button.swpm-submit-btn-default-style,
input.swpm-pw-reset-submit.swpm-submit-btn-default-style,
input.swpm-login-form-submit.swpm-submit-btn-default-style,
input.wpcf7-form-control.wpcf7-submit.has-spinner {
    color: var(--wp--preset--color--base);
    border-radius: .33rem;
    border-color: var(--wp--preset--color--base-2);
    background-color: var(--wp--preset--color--base-2);
    border-width: 0;
    color: var(--wp--preset--color--base);
    font-family: var(--wp--preset--font-family--lexend);
    font-size: var(--wp--preset--font-size--small);
    font-style: normal;
    font-weight: 500;
    padding-top: 0.6rem;
    padding-right: 1rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    text-decoration: none;
}

/* Anmelden - Button */
input.swpm-login-form-submit.swpm-submit-btn-default-style:hover,
button.swpm-submit.swpm-registration-submit-button.swpm-submit-btn-default-style:hover,
input.wpcf7-form-control.wpcf7-submit.has-spinner:hover {
    background-color: var(--wp--preset--color--contrast-4);
    color: var(--wp--preset--color--base);
    /* font-size: 1.2rem; */
}

/* Eingabefelder SWPM und Events */
.swpm-form input,
.swpm-form select,
.swpm-form textarea,
.swpm-login-widget-form input,
input#swpm_reset_email,
input#swpm_new_password,
input#swpm_reenter_new_password,
input.swpm-login-form-submit.swpm-submit-btn-default-style,
button.swpm-submit.swpm-registration-submit-button.swpm-submit-btn-default-style,
span.wpcf7-form-control-wrap input,
span.wpcf7-list-item checkbox {
    height: 2.5rem;
    font-size: 1.2rem;
}


/* Ensure focus outline is clear - buttons and input fields, etc. background: grey */
.swpm-form input:focus,
.swpm-form select:focus,
.swpm-form textarea:focus,
input#swpm_reset_email:focus,
input#swpm_new_password:focus,
input#swpm_reenter_new_password:focus,
.swpm-login-widget-form input:focus,
button.swpm-submit.swpm-profile-submit-button.swpm-submit-btn-default-style:hover,
.swpm-login-widget-form input:hover,
button.swpm-submit.swpm-registration-submit-button.swpm-submit-btn-default-style:hover,
input#swpm_reset_email:hover,
input#swpm_new_password:hover,
input#swpm_reenter_new_password:hover,
span.wpcf7-form-control-wrap input:focus,
span.wpcf7-list-item checkbox:focus,
input.wpcf7-form-control.wpcf7-submit.has-spinner:hover {
    background-color: var(--wp--preset--color--base);
    border-color: var(--wp--preset--color--contrast);
    color: var(--wp--preset--color--contrast);
    outline-color: var(--wp--preset--color--contrast);
    outline-offset: 4px;
    outline-style: groove;
    outline-width: 4px;
}

button.swpm-submit.swpm-registration-submit-button.swpm-submit-btn-default-style:hover,
input.wpcf7-form-control.wpcf7-submit.has-spinner:hover {
    background-color: var(--wp--preset--color--contrast-4);
    color: var(--wp--preset--color--base);
}

/* Increase label size for better visibility */
.swpm-form label {
    font-size: 1.2rem;
    display: block;
    /* Ensure label is on its own line */
}


form#swpm-login-form input[type=checkbox],
input#swpm-accept-pp,
input#swpm-accept-terms {
    width: 1em;
    height: 1em;
    accent-color: var(--wp--preset--color--base-2);
    margin-top: 0.5em;
}

/* Darstellung Memebership Level */
.swpm-form-input-wrap.swpm-form-membership-level-input-wrap {
    background-color: black;
    color: white;
    padding: 10px;
}

/*
input.swpm-login-form-submit.swpm-submit-btn-default-style, button.swpm-submit.swpm-registration-submit-button.swpm-submit-btn-default-style {
    background-color: var(--wp--preset--color--base-2);
    color: white;
    border-radius: 5px;
    border-color: var(--wp--preset--color--base-2);
    font-size: inherit;
}
*/

/* Event-Eingabe */
.tribe-events-single-event-description.tribe-events-content {
    padding-left: 10px;
}

/* Textfeld unten */
textarea.wpcf7-form-control.wpcf7-textarea {
    /* height: 2.5rem; */
    font-size: 1.2rem;
    /* height: 200px; */
}

/* für die Spalten in den Kacheln */
.kachel-spalte {
    border-radius: 15px;
}


/* Gestaltung der Kategorienliste */

ul.kategorie-liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul.kategorie-liste>li a {
    display: flex;
    padding: 10px 15px;
    margin: 5px;
    background-color: var(--wp--preset--color--base-2);
    color: var(--wp--preset--color--contrast-2);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

ul.kategorie-liste>li a:hover {
    background-color: var(--wp--preset--color--contrast-4);
}

/* Animation in der Navigation */
a.wp-block-navigation-item__content {
    transition: all 1.5s;
}


a.wp-block-navigation-item__content:hover {
    transition: all 1.5s;
}

:where(.wp-site-blocks *:focus) {
    outline-width: 2px;
    outline-style: solid
}

a.wp-block-navigation-item__content {
    transition: all 1.5s;
}


a.wp-block-navigation-item__content:hover {
    transition: all 1.5s;
}

:where(.wp-site-blocks *:focus) {
    outline-width: 2px;
    outline-style: solid
}

a.wp-block-navigation-item__content {
    transition: all 1.5s;
}


a.wp-block-navigation-item__content:hover {
    transition: all 1.5s;
}

:where(.wp-site-blocks *:focus) {
    outline-width: 2px;
    outline-style: solid
}

a.wp-block-navigation-item__content {
    transition: all 1.5s;
}


a.wp-block-navigation-item__content:hover {
    transition: all 1.5s;
}



/* Unterstrich grün */
:root :where(.wp-block-navigation a:where(:not(.wp-element-button)):hover) {
    border-bottom-color: var(--wp--preset--color--base-2);
    border-bottom-width: 4px;
    border-bottom-style: solid;
    text-decoration: none;
}