/* Tabelle with scrollbar */

/* Anmeldung-Notiz Forum ausblenden */
.notices-panel {
    display: none;
}

/* Einstellungen für TabelPress */
table#tablepress-1,
table#tablepress-2 {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.tablepress>:where(thead, tfoot)>*>th {
    background-color: var(--wp--preset--color--base-2);
    color: white;
    font-weight: 500;
    vertical-align: middle;
    word-break: normal;
}

.tablepress thead .dt-orderable-asc:hover,
.tablepress thead .dt-orderable-desc:hover,
.tablepress thead .dt-ordering-asc,
.tablepress thead .dt-ordering-desc {
    background-color: var(--wp--preset--color--contrast-4);
    color: white;
}

/* Instagram Menüpunkt in der Navigation */
span.wp-block-navigation-item__label {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Lexend beim Text "Menü" und "Schließen" */
.wp-block-navigation__responsive-container-open.wp-block-navigation__responsive-container-open.wp-block-navigation__responsive-container-open,
.wp-block-navigation__responsive-container-close.wp-block-navigation__responsive-container-close.wp-block-navigation__responsive-container-close {
    font-family: var(--wp--preset--font-family--lexend);
}

/* Links als Buttons am oberen Rand */
.wp-block-group.button:hover {
    background-color: var(--wp--preset--color--contrast-4) !important;
    border-color: var(--wp--preset--color--contrast-4);
    color: var(--wp--preset--color--base);
    outline-color: var(--wp--preset--color--contrast);
    outline-offset: 4px;
    outline-style: groove;
    outline-width: 4px;
    cursor: pointer;
}


/* Simple Membership Registrierung und Profil - Form Builder */

/* Anzeige Asterisk ausblenden */
span.swpm-required-asterisk {
    display: none;
}

/* weißer Hintergrund ohne Rahmen */
.swpm-form-builder fieldset {
    border: 0px !important;
    background-color: white !important;
}

input#swpm-14,
input#swpm-8 {
    background-color: var(--wp--preset--color--base-2);
    color: var(--wp--preset--color--base);
    cursor: pointer;
    border-width: 0px;
    font-size: var(--wp--preset--font-size--medium);
}

input#swpm-14:hover,
input#swpm-8:hover {
    background-color: var(--wp--preset--color--contrast-4);
    outline-color: var(--wp--preset--color--contrast);
    outline-offset: 4px;
    outline-style: groove;
    outline-width: 4px;
}

/* Labels */
.swpm-form-builder label,
label.swpm-desc {
    display: block;
    margin: 0;
    padding: 0 0 3px 0;
    color: #000;
    font-size: 16px;
}

form#registrierung-landeskoordination-1 input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
form#profile-edit-form-for-level-0-2 input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
form#profil-landeskoordination-2 input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]),
form#registrierung-landeskoordination-1 select,
.swpm-registration-form textarea {
    height: 45px;
    padding: 10px;
    font-size: 16px;
    width: 90%;
}

form#registrierung-landeskoordination-1 input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):focus,
form#profile-edit-form-for-level-0-2 input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):focus,
form#profil-landeskoordination-2 input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):focus,
form#registrierung-landeskoordination-1 select,
.swpm-registration-form textarea:focus {
    background-color: var(--wp--preset--color--base);
    border-color: var(--wp--preset--color--contrast);
    color: var(--wp--preset--color--contrast);
    outline-color: var(--wp--preset--color--contrast);
    outline-offset: 4px;
    outline-style: groove;
    outline-width: 4px;
}

/* Simple Membership Registrierung */
form#registrierung-landeskoordination-1 input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):hover,
form#profile-edit-form-for-level-0-2 input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):hover,
form#profil-landeskoordination-2 input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]):hover,
form#registrierung-landeskoordination-1 select:hover,
.swpm-registration-form textarea:hover {
    background-color: var(--wp--preset--color--base);
    border-color: var(--wp--preset--color--contrast);
    color: var(--wp--preset--color--contrast);
    outline-color: var(--wp--preset--color--contrast);
    outline-offset: 4px;
    outline-style: groove;
    outline-width: 4px;
}

.swpm-registration-form input[type="checkbox"],
.swpm-registration-form input[type="radio"] {
    width: 20px;
    height: 20px;
    /* Größe der Checkboxen/Radio-Buttons */
    vertical-align: middle;
    /* Bessere Ausrichtung */
}

.swpm-registration-form label {
    font-size: 18px;
    /* Größere Labels für bessere Lesbarkeit */
    margin-bottom: 8px;
    display: block;
    /* Damit der Abstand besser wirkt */
}

/* Wiederholung Passwort: etwas mehr Platz */
input#swpm-3_re,
input#swpm-11_re {
    margin-top: 10px;
}




/* Simple Membership Registrierung und Profil */


/* Buttons von Membership rot wie andere Buttons auch */
input.swpm-login-form-submit.swpm-submit-btn-default-style,
button.swpm-submit.swpm-profile-submit-button.swpm-submit-btn-default-style,
button.swpm-submit.swpm-registration-submit-button.swpm-submit-btn-default-style,
input.swpm-pw-reset-submit.swpm-submit-btn-default-style,
input.swpm-login-form-submit.swpm-submit-btn-default-style,
input.wpcf7-form-control.wpcf7-submit.has-spinner {
    color: var(--wp--preset--color--base);
    border-radius: .33rem;
    border-color: var(--wp--preset--color--base-2);
    background-color: var(--wp--preset--color--base-2);
    border-width: 0;
    color: var(--wp--preset--color--base);
    font-family: var(--wp--preset--font-family--lexend);
    font-size: var(--wp--preset--font-size--small);
    font-style: normal;
    font-weight: 500;
    padding-top: 0.6rem;
    padding-right: 1rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    text-decoration: none;
}

/* Anmelden - Button */
input.swpm-login-form-submit.swpm-submit-btn-default-style:hover,
button.swpm-submit.swpm-registration-submit-button.swpm-submit-btn-default-style:hover,
input.wpcf7-form-control.wpcf7-submit.has-spinner:hover {
    background-color: var(--wp--preset--color--contrast-4);
    color: var(--wp--preset--color--base);
    /* font-size: 1.2rem; */
}

/* Eingabefelder SWPM und Events */
.swpm-form input,
.swpm-form select,
.swpm-form textarea,
.swpm-login-widget-form input,
input#swpm_reset_email,
input#swpm_new_password,
input#swpm_reenter_new_password,
button.swpm-submit.swpm-registration-submit-button.swpm-submit-btn-default-style,
span.wpcf7-list-item checkbox,
.swpm-submit,
input[type="submit"].swpm-submit {
    height: 2.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
}

input.swpm-login-form-submit.swpm-submit-btn-default-style,
button.swpm-submit.swpm-profile-submit-button.swpm-submit-btn-default-style,
input.swpm-pw-reset-submit.swpm-submit-btn-default-style {
    height: 3rem;
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Ensure focus outline is clear - buttons and input fields, etc. background: grey */
.swpm-form input:focus,
.swpm-form select:focus,
.swpm-form textarea:focus,
input#swpm_reset_email:focus,
input#swpm_new_password:focus,
input#swpm_reenter_new_password:focus,
.swpm-login-widget-form input:focus,
.swpm-login-widget-form input:hover,
input#swpm_reset_email:hover,
input#swpm_new_password:hover,
input#swpm_reenter_new_password:hover,
span.wpcf7-form-control-wrap input:focus,
span.wpcf7-list-item checkbox:focus,
input.wpcf7-form-control.wpcf7-submit.has-spinner:hover,
span.wpcf7-form-control-wrap textarea:hover {
    background-color: var(--wp--preset--color--base);
    border-color: var(--wp--preset--color--contrast);
    color: var(--wp--preset--color--contrast);
    outline-color: var(--wp--preset--color--contrast);
    outline-offset: 4px;
    outline-style: groove;
    outline-width: 4px;
}


/* Button bei Events */
.single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button,
.tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button,
.tribe-events .tribe-events-c-search__button,
.tribe-events button.tribe-events-c-search__button {
    background-color: var(--wp--preset--color--base-2);
    border-color: var(--wp--preset--color--contrast);
    color: var(--wp--preset--color--base);
    margin-left: 10px;
}



.single-tribe_events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button:hover,
.tribe-events .tribe-events-c-subscribe-dropdown .tribe-events-c-subscribe-dropdown__button:hover,
.tribe-events .tribe-events-c-search__button:hover,
.tribe-events button.tribe-events-c-search__button:hover {
    background-color: var(--wp--preset--color--contrast-4) !important;
    border-color: var(--wp--preset--color--contrast);
    color: var(--wp--preset--color--contrast);
    outline-color: var(--wp--preset--color--contrast);
    outline-offset: 4px;
    outline-style: groove;
    outline-width: 4px;
    margin-left: 10px;
}

.tribe-events .tribe-events-c-search__button:hover,
.tribe-events button.tribe-events-c-search__button:hover {
    background-color: var(--wp--preset--color--contrast-4) !important;
    border-color: var(--wp--preset--color--contrast);
    color: var(--wp--preset--color--contrast);
    outline-color: var(--wp--preset--color--contrast) !important;
    outline-offset: 4px !important;
    outline-style: groove !important;
    outline-width: 4px !important;
    margin-left: 10px;
}


/* Buttons, etc. */
button.swpm-submit.swpm-registration-submit-button.swpm-submit-btn-default-style:hover,
input.wpcf7-form-control.wpcf7-submit.has-spinner:hover,
button.swpm-submit.swpm-profile-submit-button.swpm-submit-btn-default-style:hover,
input.swpm-pw-reset-submit.swpm-submit-btn-default-style:hover {
    background-color: var(--wp--preset--color--contrast-4);
    color: var(--wp--preset--color--base);
    outline-color: var(--wp--preset--color--contrast);
    outline-offset: 4px;
    outline-style: groove;
    outline-width: 4px;
}


button.tribe-common-c-btn.tribe-events-c-search__button {
    margin-right: 10px;
}


/* Increase label size for better visibility */
.swpm-form label {
    font-size: 1.2rem;
    display: block;
    /* Ensure label is on its own line */
}


form#swpm-login-form input[type=checkbox],
input#swpm-accept-pp,
input#swpm-accept-terms {
    width: 1em;
    height: 1em;
    accent-color: var(--wp--preset--color--contrast-4);
    margin-top: 0.5em;
}

/* Darstellung Membership Level */
.swpm-form-input-wrap.swpm-form-membership-level-input-wrap {
    background-color: black;
    color: white;
    padding: 10px;
}

/* Event-Eingabe */
.tribe-events-single-event-description.tribe-events-content {
    padding-left: 10px;
}

/* Textfeld unten */
textarea.wpcf7-form-control.wpcf7-textarea {
    font-size: 1.2rem;
}

/* Einzeilige Texte */
input.wpcf7-form-control.wpcf7-text {
    line-height: 2.5rem;
    font-size: 1.5rem;
}

/* für die Spalten in den Kacheln */
.kachel-spalte {
    border-radius: 15px;
}


/* Gestaltung der Kategorienliste */

ul.kategorie-liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul.kategorie-liste>li a {
    display: flex;
    padding: 10px 15px;
    margin: 5px;
    background-color: var(--wp--preset--color--base-2);
    color: var(--wp--preset--color--contrast-2);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

ul.kategorie-liste>li a:hover {
    background-color: var(--wp--preset--color--contrast-4);
}

/* Navigation */
/* roter Unterstrich bei Links */
a.wp-block-navigation-item__content {
    box-shadow: inset 0 -1px 0 var(--wp--preset--color--base-2);
    text-decoration: none;
}

a.wp-block-navigation-item__content:hover {
    box-shadow: inset 0 -2px 0 var(--wp--preset--color--base-2);
    border-bottom-color: var(--wp--preset--color--base-2);
    transition: all 0.6s ease-in-out;
    text-decoration: none;
}

a.wp-block-navigation-item__content:active {
    box-shadow: inset 0 -6px 0 var(--wp--preset--color--base-2);
    transition: all 0.6s ease-in-out;
    text-decoration: none;
}

a.wp-block-navigation-item__content:focus {
    outline: 1px dotted;
}

input[type="checkbox"] {
    transform: scale(1.5);
}

input[type="checkbox"]:checked {
    accent-color: var(--wp--preset--color--contrast-4);
}