/* Farben */
/* Variablen */
:root {
  --dunkelblau-color: rgba(30, 51, 127, 1);
  --orange-color: rgba(255, 125, 31, 1);
  --hellblau-color: rgba(57, 96, 237, 1);
  --hellgrau-color: rgba(234, 234, 234, 0.4);
  --lila-color: rgba(162, 50, 150, 1);
  --rot-color: rgba(238, 56, 63, 1);
  --gelb-color: rgba(255, 216, 0, 1);
  --gruen-color: rgba(135, 193, 44, 1);
  --wp--preset--font-size--medium: clamp(1.3125rem, 1.3125rem + ((1vw - 1rem) * -2.524), 2.625rem);
  --wp--preset--font-size--cover-paragraph: clamp(2rem, 10vw, 6rem);
  --wp--preset--font-size--h2: clamp(1.5rem, 2vw, 6rem);
  /* funktioniert nicht, daher nur definiert */
  --rot-color_transpa: rgba(191, 25, 25, 0.5);
  --mobile-breakpoint: 767px;
  --tablet-breakpoint: 900px;
}

/*
Dunkelblau	#1E337F
Orange		#FF7D1F
Hellblau	#007BBE
Lila		# A23296
Rot	#EE383F
Gelb	#FFD800
Grün 	#87C12C

*/

/* Profiländerung ausblenden */
.swpm-edit-profile-link {
  display: none;
}

/* #######################
automat. Silbentrennung
####################### */
h1.wp-block-post-title,
h2,
h3,
h4,
h5,
h6,
p {
  hyphens: auto;
}

/* schmaler Container */
@media (min-width: 1024px) {
  .wp-block-group.narrow_div {
    margin-right: 15rem;
    margin-left: 15rem;
  }
}

/* Hintergrundfarbe für Hamburger */
.main-navigation .menu-toggle {
  background-color: white;
}

/* Clickable Cards */
.haurand-card h2 a::before,
.haurand-card h3 a::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
}

.haurand-card {
  position: relative
}

.haurand-card h2.wp-block-heading {
  margin-top: -5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.haurand-card h2.wp-block-heading a {
  color: var(--dunkelblau-color);
  background-color: white;
  padding: 1em;
  font-size: clamp(1rem, 0.85rem + 0.75vw, 1.75rem);
  font-weight: 400;
  box-shadow: 5px 5px 5px 1px rgba(30, 51, 127, 0.2);
  border: 1px solid;
}

.haurand-card h2.wp-block-heading a:hover {
  color: grey;
  text-decoration: none;
}

/* Clickable Buttons */
p.haurand-button a::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
}

p.haurand-button {
  position: relative
}

p.haurand-button a {
  color: white;
  background-color: var(--dunkelblau-color);
  padding: 20px;
  font-size: clamp(1rem, 0.85rem + 0.75vw, 1.75rem);
  font-weight: 400;
  box-shadow: 5px 5px 5px 1px rgba(30, 51, 127, 0.2);
  border: 1px solid;

}

p.haurand-button a:hover {
  color: lightgray;
  outline-color: var(--dunkelblau-color);
  outline-offset: 4px;
  outline-style: groove;
  outline-width: 4px;
  text-decoration: none;
}


/* Buttons */
.wp-block-button__link {
  border-radius: 0;
}


/* Barrierefreies Kontaktformular CF7 */
/* Buttons von CF7 */

form.wpcf7-form p {
  margin-bottom: 0.5em;
}


input.wpcf7-form-control.wpcf7-submit.has-spinner,
input.wpcf7-form-control.wpcf7-file {
  color: white;
  background-color: var(--dunkelblau-color);
  border-color: var(--dunkelblau-color);
  border: 2px solid var(--dunkelblau-color);
  border-width: 0;
  font-style: normal;
  font-weight: 500;
  padding-top: 0.6rem;
  padding-right: 1rem;
  padding-bottom: 0.6rem;
  padding-left: 1rem;
  text-decoration: none;
}

/* Bestätigung von Datenschutz, etc. */
input[type="checkbox"] {
  width: 1em;
  height: 1em;
  accent-color: var(--wp--preset--color--global-color-8);
}

/* Anmelden - Button 
input.wpcf7-form-control.wpcf7-submit.has-spinner:hover, input.wpcf7-form-control.wpcf7-file:hover {
  color: white;
  background-color: var(--dunkelblau-color);
}
*/

/* Eingabefelder CF7 */
span.wpcf7-list-item checkbox {
  height: 2.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
}


/* CF7: Ensure focus outline is clear - buttons and input fields, etc. background: grey */
span.wpcf7-form-control-wrap input:focus,
span.wpcf7-list-item checkbox:focus,
input.wpcf7-form-control.wpcf7-submit.has-spinner:hover,
input.wpcf7-form-control.wpcf7-file:hover {
  color: white;
  background-color: var(--dunkelblau-color);
  border-color: var(--dunkelblau-color);
  outline-color: var(--dunkelblau-color);
  outline-offset: 4px;
  outline-style: groove;
  outline-width: 4px;
}


/* Buttons, etc. */
textarea.wpcf7-form-control.wpcf7-textarea:focus,
textarea.wpcf7-form-control.wpcf7-textarea:hover,
input.wpcf7-form-control.wpcf7-text:focus,
input.wpcf7-form-control.wpcf7-text:hover {
  color: var(--dunkelblau-color);
  background-color: white;
  outline-color: var(--dunkelblau-color);
  outline-offset: 4px;
  outline-style: groove;
  outline-width: 4px;
}


/* Textfeld unten */
textarea.wpcf7-form-control.wpcf7-textarea {
  font-size: 1.2rem;
}

/* Einzeilige Texte */
input.wpcf7-form-control.wpcf7-text {
  line-height: 1.2em;
  font-size: 1.2em;
}

.wpcf7 label {
  margin-bottom: 10px;
  /* Abstand unter dem Label */
  display: block;
  /* Stellt sicher, dass das Label über dem Eingabefeld bleibt */
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea {
  margin-top: 10px;
  /* Abstand oberhalb des Eingabefelds */
}

/* Barrierefreies Kontaktformular CF7 */


/* Design Membership */

/* Registrierung */
a.wp-block-button__link:not(.has-background):hover {
  border-color: var(--hellblau-color);
  background-color: var(--hellblau-color);
}

/* Checkbox-Styling */
input#swpm-accept-terms,
input#swpm-accept-pp,
input#swpm-rememberme {
  width: 1.5em;
  height: 1.5em;
  accent-color: var(--dunkelblau-color);
  margin-top: 0.5em;
}

/* Formulareingabefelder - Registrierung und Profil */
.swpm-registration-form input,
.swpm-profile-form input,
.swpm-registration-widget-form input,
.swpm-login-widget-form input,
.swpm-edit-profile-form input,
.swpm-form select {
  height: 45px;
  font-size: 16px;
  padding: 10px;
  /* height:3.5em !important; */
  margin: 10px 0;
  /* Kombiniert margin-top und margin-bottom */
}

/* Labels in Formularen */
.swpm-login-widget-form label,
.swpm-profile-form label {
  padding-top: 10px;
}

/* Buttons und Inputs - Einheitliches Styling */
.swpm-login-widget-form button,
.wp-block-button.is-style-fill.bs-button,
button.swpm-submit.swpm-registration-submit-button.swpm-submit-btn-default-style {
  color: white;
  background-color: var(--dunkelblau-color);
  border: 2px solid var(--dunkelblau-color);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.6rem 1rem;
  /* Kombiniert padding-top, -right, -bottom, -left */
  text-decoration: none;
  height: 4.5rem !important;
  /* Wichtigkeit beibehalten */
}


/* Hover-Effekte für Buttons und Inputs */
.swpm-login-widget-form input:hover,
.swpm-login-widget-form button:hover,
.wp-block-button.is-style-fill.bs-button:hover,
input.swpm-login-form-submit.swpm-submit-btn-default-style:hover,
button.swpm-submit.swpm-registration-submit-button.swpm-submit-btn-default-style:hover,
select#country:hover {
  border-color: var(--dunkelblau-color);
  outline-color: var(--dunkelblau-color);
  outline-offset: 4px;
  outline-style: groove;
  outline-width: 4px;
}

/* Hintergrundfarbe für Buttons */
.swpm-login-widget-form button,
.wp-block-button.is-style-fill.bs-button,
.wp-block-button.is-style-fill.bs-button a,
input.swpm-login-form-submit.swpm-submit-btn-default-style {
  background-color: var(--dunkelblau-color);
}


/* Eingabefelder SWPM und Events */
.swpm-form input,
.swpm-edit-profile-form input,
.swpm-form select,
.swpm-form textarea,
input#swpm_reset_email,
input#swpm_new_password,
input#swpm_reenter_new_password,
button.swpm-submit.swpm-registration-submit-button.swpm-submit-btn-default-style {
  height: 2.5rem;
  font-size: 1.2rem;
}

input.swpm-login-form-submit.swpm-submit-btn-default-style,
button.swpm-submit.swpm-profile-submit-button.swpm-submit-btn-default-style,
input.swpm-pw-reset-submit.swpm-submit-btn-default-style {
  height: 3rem;
  font-size: 1.2rem;
  margin: 10px 0;
  /* Kombiniert margin-top und margin-bottom */
}

/* Fokus- und Hover-Effekte für Eingabefelder */
.swpm-registration-widget-form input:hover,
.swpm-profile-form input:hover,
.swpm-registration-form input:focus,
.swpm-profile-form input:focus,
.swpm-edit-profile-form input:hover,
.swpm-edit-profile-form input:focus {
  outline-color: var(--dunkelblau-color);
  outline-offset: 4px;
  outline-style: groove;
  outline-width: 4px;
}

/* Hover-Farbe für Registrierungs-Buttons */
button.swpm-submit.swpm-registration-submit-button.swpm-submit-btn-default-style:hover {
  color: white;
}

/* Design Membership Ende */


/* auf Home andere farbliche Gestaltung */
.home .inside-article {
  /* background-color: var(--dunkelblau-color); */
  padding-top: 0px;
  border: 1px solid silver;
}

/* Cursor beim Logo entfernen */
.navigation-stick .site-logo a {
  pointer-events: none;
}

/* verindert die Anzeige "Werden Sie Mitglied bei uns" bei der Anmeldung */
.swpm-join-us-link {
  display: none;
}

/* für Krankmeldung */
span.vonbis {
  display: inline-block;
  width: 50px;
}

/* smooth scrolling und korrekte Ansteuerung interner Anker */
html {
  /* scroll-behavior: smooth; */
  scroll-padding-top: 10rem;
}

.home aside#block-7 {
  display: none;
}

/* Korrektur notwendig: Nur bei Familienunterstützender Dienst hat die folgende Zeile bei Rand oben 2em erzeugt */
.entry-content:not(:first-child) {
  margin-top: 0;
}

/* Kompletter Footer als Block */
.footer-widgets .widget {
  margin-bottom: -1px;
}

/* H1 wird auf der Startseite nicht angezeigt, taucht aber im Quelltext auf */
.page-id-7 .entry-title,
.page-id-68 .entry-title {
  display: none;
}

/* Scrollbar vertikal immer anzeigen */
body {
  overflow-y: scroll;
  /* Show vertical scrollbar */
}

/* Bullet dunkelblau bei Listen */
ul li::marker {
  color: var(--dunkelblau-color);
  font-size: 1.5em;
}

/* Schatten für Bilder */
figure img {
  box-shadow: 5px 5px 5px 1px rgba(30, 51, 127, 0.2);
}


/* für H2 bei Kacheln */
h2.gb-headline-text.kachel_h2 {
  color: var(--wp--preset--color--white);
}

/* Kachel für Brücke */
div.bruecke_links_oben div.wp-block-group__inner-container {
  margin: 0px;
  padding: 10px;
}

p.kachel_absatz_oben,
h2.kachel_absatz_oben {
  /* border-radius: 0px 0px 40px 0px; */
  margin: 0px;
  font-size: clamp(1rem, 0.88rem + 0.6vw, 1.6rem);
}

div.kachel_oben_links p,
div.kachel_oben_links h2 {
  padding: 20px 30px 20px 30px;
}

div.kachel_unten_links p,
div.kachel_unten_links h2 {
  margin-bottom: 0px;
}

/* h2 auf Einzelseiten */
h2.kachel_absatz_oben.gb-headline-text {
  color: white;
}

/* Auf 100% Breite bei 850px */
@media (max-width: 850px) {
  .bruecke_gruppe_kacheln .gb-grid-wrapper .gb-grid-column {
    width: 100%;
  }
}

/* Ansprechpartner auf den Bereichsseiten */
@media (max-width: 767px) {
  h2.ansprechpartner {
    margin-left: 0px;
    margin-top: 40px;
  }
}


/* ----------------------------- */
/* Navigation                    */
/* ----------------------------- */

/* Einstellungen für das Desktop-Menü */
@media (min-width: 769px) {

  /* nav links effect */
  .main-navigation .menu>.menu-item>a::after {
    content: "";
    position: absolute;
    right: 0;
    left: 50%;
    bottom: 0px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: var(--dunkelblau-color);
    display: block;
    width: 0;
    height: 3px;
    background-color: currentcolor;
    transition: 0.3s width ease;
    /* Rand, damit der Unterstrich weiter oben gezeigt wird */
    margin-bottom: 25px;
  }

  .main-navigation .menu>.menu-item.current-menu-item>a::after,
  .main-navigation .menu>.menu-item>a:hover::after {
    width: 100%;
    color: var(--hellblau-color);
  }

  .main-navigation .menu>.menu-item.current-menu-item>a::after,
  .main-navigation .menu>.menu-item.current-menu-ancestor>a::after,
  .main-navigation .menu>.menu-item>a:active::after {
    width: 100%;
    color: var(--dunkelblau-color);
  }

  /* Submenü 
ul.sub-menu {
  opacity: 0.9;
}
*/
}

/* ---------------------*/
/* Der Detail-Block mit */
/* einigen Anpassungen  */
/* ---------------------*/
summary {
  list-style: none;
  display: flex;
  /* also removes the list marker */
  align-items: center;
  padding: 2rem;
  font-weight: 400;
  background: var(--dunkelblau-color);
  color: white;
}

summary::before {
  content: '>';
  /*  margin-left: .75em; */
  transition: 0.2s;
  margin-right: 1rem;
  font-size: 2rem;
}


details[open]>summary::before {
  transform: rotate(90deg);
}

.wp-block-details[open] summary,
.wp-block-details summary:hover {
  background: var(--hellblau-color);
  transition: all 0.2s ease-in-out;
}

/* .wp-block-details 
summary:focus {
background:var(--hellblau-color);
transition: all 0.2s ease-in-out;
}
*/

summary::-webkit-details-marker {
  display: none;
}


/* Background content of details
 * deaktiviert 6.12.2023 
details p {
  padding: 2rem;
  margin-top: 0;
}
*/

/* Hintergrundfarbe details */
details>div.wp-block-group {
  background: var(--hellgrau-color);
}

@keyframes details-show {
  from {
    opacity: 0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open]>*:not(summary),
details[close]>*:not(summary) {
  animation: details-show 1000ms ease-in-out;
}

.home .separate-containers .inside-article {
  background-color: var(--dunkelblau-color);
}