/* ----------------------------- */
/* Farben */
/* ----------------------------- */
/* 
Rot = #C22921
Blau = #12266B
Hellgrau= #D6D6D6
*/

/* Variablen */
:root {
  --rot-color: rgba(194, 41, 33, 1);
  --grau_hell-color: rgba(214, 214, 214, 1);
	--blau-color: rgba(18, 38, 107, 1);
}

/* TEST */
/*
a {
    text-decoration-thickness: 1px;
    text-underline-offset: 0.25ch;
}

a:hover, a:focus {
    text-decoration-style: dashed;
}
*/

/* TEST */


/* Listensymbol im Widget */
.widget ul li {
    list-style-type: disc;
    margin-left: 1rem;
}

/* text-transform deaktivieren */
.tribe-events-widget .tribe-events-widget-events-list__view-more-link {
    text-transform: unset!important;
}

/* Rand beim Widget Veranstaltungsliste */
.tribe-compatibility-container {
    padding: 0px 40px 5px 40px;
}

/* Farbe für Link im blauen Kasten */
.wp-block-columns.alignwide.blauer_container_linke_spalte.has-global-color-9-background-color.has-background a,
.wp-block-columns.alignwide.has-global-color-9-background-color.has-background a
{
    color: var(--grau_hell-color);
		border-bottom: 1px white dotted;
}

.wp-block-columns.alignwide.blauer_container_linke_spalte.has-global-color-9-background-color.has-background a:hover, 
.wp-block-columns.alignwide.has-global-color-9-background-color.has-background a:hover{
    color: white;
		border-bottom: 1px white dotted;
}

/* für z. B. vergangene Events */
.tribe-events-notices {
    background: var(--grau_hell-color);
    border: var(--grau_hell-color);
    color: var(--rot-color);
		text-shadow: none;
}


/* Links im Footer und Block Pattern unterstrichen */
p.blauer_link a,
p.footer_links_absaetze a {
    text-decoration: underline;
}

p.blauer_link a:hover,
p.footer_links_absaetze a:hover{
    text-decoration: dotted;
}


/* Links im Footer mit weniger Rand unten */
aside#block-38 {
    margin-bottom: 2px;
}


/* Darstellung der Untermenüpunkte */
.main-navigation .main-nav ul ul li a {
    font-size: 1rem;
		font-weight: 400;	
}


/* ----------------------------- */
/* Content mit Rand              */
/* links und rechts              */
/* ----------------------------- */
div#content {
    margin-left: 5px;
    margin-right: 5px;
}

/* ----------------------------- */
/* Breakpoint für Anzeige        */
/* linker Rand bei Tablet        */
/* ----------------------------- 
@media (min-width: 760px) and (max-width: 960px) {
.generate-columns-container {
    margin-left: 1px;
		margin-right: 1px;
}
}
*/


/* ----------------------------- */
/* Breakpoint für Anzeige        */
/* Sidebar                       */
/* ----------------------------- */

@media (max-width: 960px) {
    .site-content {
        flex-direction: column;
    }
    .container .site-content .content-area {
        width: auto;
    }
    .is-left-sidebar.sidebar, .is-right-sidebar.sidebar {
        width: auto;
        order: initial;
    }
    #main {
        margin-left: 0;
        margin-right: 0;
    }
    body:not(.no-sidebar) #main {
        margin-bottom: 0;
    }
}


/* ----------------------------- */
/* Featured Post möglichst       */
/* einspaltig                    */
/* ----------------------------- */

.generate-columns-container .featured-column {
    float: none;
    width: 100%;
}


/* ------------------------------ */
/* Blauer Info-Kasten             */
/* ------------------------------ */
.wp-block-columns.alignwide.blauer_container_linke_spalte.has-background {
    padding: 23px;
}

.wp-block-columns.alignwide.blauer_container_linke_spalte.has-background figure.wp-block-image.size-large {
    margin-bottom: 0px;
}



/* ------------------------------ */
/* Buttons bei PDF-Dateien        */
/* ------------------------------ */
.wp-block-file .wp-block-file__button {
		background: var(--rot-color);
    border-radius: 0; 
    color: #fff;
    font-size: .8em;
    padding: .5em 1em;
}


.wp-block-file a.wp-block-file__button:active, .wp-block-file a.wp-block-file__button:focus, .wp-block-file a.wp-block-file__button:hover, .wp-block-file a.wp-block-file__button:visited {
    background: var(--blau-color);
    box-shadow: none;
    color: #fff;
    opacity: .85;
    text-decoration: none;
}


/* ------------------------------ */
/* Spalten umbrechen
/* ------------------------------ */
  .wp-block-columns.drei_kacheln,
  .wp-block-columns.zwei_kacheln{
    display: flex;
    margin-bottom: 1.75em;
    flex-wrap: wrap;
  }
  
  @media (min-width: 1151px) {
    .wp-block-columns.drei_kacheln,
      .wp-block-columns.zwei_kacheln {
      flex-wrap: nowrap;
    }
  }
  .wp-block-column.drei_kacheln,
  .wp-block-column.zwei_kacheln {
    flex-grow: 1;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
  }
  /* Bis hierher alles einspaltig*/
  @media (max-width: 1150px) {
      .wp-block-columns.drei_kacheln,
      .wp-block-columns.zwei_kacheln {
              display: block;		
      }
  }
  
  /* Ab hier 2 Spalten */
  @media (min-width: 1151px) {
    .wp-block-column.drei_kacheln,
      .wp-block-column.zwei_kacheln {
      flex-basis: 0;
      flex-grow: 1;
    }
    .wp-block-column[style*="flex-basis"] {
      flex-grow: 0;
    }
    .wp-block-column.drei_kacheln:not(:first-child),
      .wp-block-column.zwei_kacheln:not(:first-child)
      {
      margin-left: 2em;
    }
  }
  
  /* Überschrift mit Padding nach links und rechts */
  div.wp-block-column h2 {
      padding: 0px 10px 0px 10px;
  }
  
  
  
  
/* ------------------------------ */
/* Zwei Spalten mit Bild schattiert und hover-Effekt, siehe Beitrag: "Drei Spalten mit Kacheln" */
/* ------------------------------ */
/* Titel unter Bildern größer */
    div.wp-block-column.zwei_kacheln {
        font-size: 1.5rem;
        padding: 0px 0px 2rem 0px;
        background-color: white;
				border-style: solid;
    		border-width: 1px;
    		border-color: var(--grau_hell-color);
}
    
/* Nur Rand unten, kein Rand links */
@media (max-width: 1150px) {
    div.wp-block-column.zwei_kacheln {
         margin: 0px 0rem 3rem 0px!important;
        }
}
  
/* beim ersten Bild kein Rand */
  @media (min-width: 1151px) {
    div.wp-block-column.zwei_kacheln:first-child {
         margin: 0px 0rem 0rem 0px;
        }
}

/* Content: Abstand links und rechts */
p.has-text-align-left.zwei_kacheln_abstand,
h2#anmeldung-oberstufe,
p.zwei_kacheln_abstand{
    padding: 0px 1rem;
}

/* Mailadresssen Schulleitung */
p.zwei_kacheln_abstand a{
    font-size: 1.2rem;
}




/* ------------------------------ */
/* Variable Spalten bei Kollegium */
/* ------------------------------ */
div.flexible_spalten {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.flexible_spalten .wp-block-group__inner-container{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* 4 Spalten */
@media (min-width: 1500px)  {
div.flexible_spalten .wp-block-group__inner-container > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    width: 25%;
}
}


/* 3 Spalten */
@media (min-width: 1321px) and (max-width: 1499px) {
div.flexible_spalten .wp-block-group__inner-container > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    width: 33%;
}
}

/* 2 Spalten */
@media (min-width: 1000px) and (max-width: 1320px) {
div.flexible_spalten .wp-block-group__inner-container > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    width: 50%;
}
}

/* 1 Spalte */
@media (min-width: 769px) and (max-width: 999px) {
div.flexible_spalten .wp-block-group__inner-container > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    width: 100%;
}
}

@media (min-width: 600px) and (max-width: 768px) {
div.flexible_spalten .wp-block-group__inner-container > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    width: 50%;
    padding: 10px;
}
}

/* 1 Spalte */
@media (max-width: 599px) {
div.flexible_spalten .wp-block-group__inner-container > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    width: 100%;
}
}
	
/* dezenter Hover-Effekt */
.wp-block-columns.vier_kacheln:hover {
 		opacity:0.7;
  	transform: scale(1.01, 1.01);	
}

/* Schriftgröße auf Kollegiumsseite bei Anker */
p.has-text-align-center.kollegium_anker a {
    font-size: 1.8rem;
    padding: 0.2rem;
}


/* ------------------------------ */
/* Vier Spalten mit Bild schattiert und hover-Effekt, siehe Beitrag: "Drei Spalten mit Kacheln" */
/* ------------------------------ */
/* Titel unter Bildern größer */
div.wp-block-column.vier_kacheln {
		padding: 20px 5px 24px 5px;
    margin: 0px 15px 0px 15px;
		background-color: white;
		/* box-shadow:  6px 6px 12px #bebebe, -6px -6px 12px #ffffff; */
		-webkit-filter: drop-shadow(3px 3px 1px #CCCCCC);
    filter: drop-shadow(2px 2px 5px #CCCCCC); 
		margin-bottom: 3rem;
		justify-content: center; 
	  /* abgerundete Ecken 
	  border-radius: 20px 20px 0px 0px; */
}

div.wp-block-column.vier_kacheln p {
	font-size: 0.8em;
}

div.wp-block-column.vier_kacheln h3 {
	margin-bottom: 0px;
}

@media (min-width: 382px) {
div.wp-block-column.vier_kacheln h3 {
	font-size: 1.1em;
	}
}

@media (max-width: 381px) {
div.wp-block-column.vier_kacheln h3 {
	font-size: 0.9em;
	}
}


@media (max-width: 999px) {
	div.wp-block-column.vier_kacheln {
			/* nur Rand unten */
			padding: 20px 0px 24px 0px;
      margin: 0px 0px 40px 0px;
			justify-content: center;
	}
}



/* ------------------------------ */
/* Button z. B. Schullaufbahn und Kollegium */
/* ------------------------------ */
  .wp-block-buttons .msmgs_button a,
  .wp-block-buttons.msmgs_button a.wp-block-button__link {
      background-color: var(--rot-color);
      text-decoration: none!important;
      font-size: 1.2rem;
  }
  
  .wp-block-buttons .msmgs_button a:hover
  , .wp-block-buttons.msmgs_button a.wp-block-button__link:hover {	
      color: #fff;
      opacity: 0.6;
      text-decoration: none;
      background-color: var(--rot-color)!important;
    box-shadow: 5px 5px 5px var(--grau_dunkel-color);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
    /* VERZÖGERUNG */
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   transition: all 0.5s linear;
  }
  
  [id^="lehrer_"] { 
      padding-top: 15rem; 
      margin-top: -15rem!important;
  }



/* ----------------------------- */
/* Hintergrund Sidebar           */
/* ----------------------------- */
.separate-containers .inside-right-sidebar, .separate-containers .inside-left-sidebar {
    background-color: white;
}

/* --------------------------- */
/* keine abgerundeten Ecken    */
/* bei Buttons                 */
/* --------------------------- */
button, 
html input[type="button"], 
input[type="reset"], 
input[type="submit"], 
a.button, 
a.button:visited, 
a.wp-block-button__link:not(.has-background) {
    border-radius: 0px;
}



/* --------------------------- */
/* Video im oberen Bereich     */
/* --------------------------- */
.top-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.page-hero {
    position: relative;
    overflow: hidden;
}

.background-video-content {
    position: relative;
    z-index: 1;
}

video[poster] {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



/* ----------------------------- */
/* Animation für Text über Video */
/* ----------------------------- */
@media (max-width: 650px) {
p.has-text-align-center.animated.fadeInLeft.slow {
    padding-top: 10rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    text-align: left;
    color: white;
    font-size: 2rem;
}

p.has-text-align-center.animated.fadeInLeft.slower {
    margin-left: 3rem;
    text-align: left;
		color: white;
		font-size: 1.3rem;
}
}

@media (min-width: 651px) {
p.has-text-align-center.animated.fadeInLeft.slow {
    padding-top: 30rem;
    margin-bottom: 1rem;
    margin-left: 10rem;
    text-align: left;
		color: white;
		font-size: 3rem;
}

p.has-text-align-center.animated.fadeInLeft.slower {
    margin-left: 10rem;
    text-align: left;
		color: white;
		font-size: 2rem;
}
}







/* ----------------------------- */
/* Navigation                    */
/* ----------------------------- */

/* Farben für Off-Canvas-Menü */
@media only screen and (max-width: 900px) {
	.slideout-navigation.main-navigation .main-nav ul ul li[class*="current-menu-"] > a{
		color: #9a9a9a;
		background-color: #e1e7f0;
	}
		.slideout-navigation.main-navigation .main-nav ul ul li[class*="current-menu-"] > a:hover{
		color: #e1e7f0;
		background-color: #622523;
	}
	
		.slideout-navigation.main-navigation .main-nav ul ul li[class*="current-menu-"] > a:focus{
		color: #e1e7f0;
		background-color: #263f5f;
	}
	
	.slideout-navigation.main-navigation .main-nav ul ul li[class*="current-menu-"] > a:active{
		color: #e1e7f0;
		background-color: #263f5f;
	}
}



/* ----------------------------- */
/* grauer Rahmen um Beiträge      */
/* ----------------------------- */
.generate-columns .inside-article,
.inside-right-sidebar
{
    border-style: solid;
    border-width: 1px;
    border-color: var(--grau_hell-color);
		/* border-radius: 5px; */
}


