/* #######################
smooth scrolling und korrekte Ansteuerung interner Anker
######################### */
html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}


/* Farben für TEC */
h1.tribe-events-single-event-title,
h3.tribe-events-calendar-list__event-title.tribe-common-h6.tribe-common-h4--min-medium a,
h3.tribe-events-calendar-month__calendar-event-title.tribe-common-h8.tribe-common-h--alt a {
    background-color: var(--wp--preset--color--custom-blau);
    color: var(--wp--preset--color--custom-weiss);
    padding: 10px;
}

h3.tribe-events-calendar-month__calendar-event-title.tribe-common-h8.tribe-common-h--alt a {
    background-color: var(--wp--preset--color--custom-blau);
    color: var(--wp--preset--color--custom-weiss);
    padding: 3px;
    display: block;
}

/* Background-color für embed privacy */
.embed-privacy-overlay {
    background-color: var(--wp--preset--color--custom-blau);
}

/* Breakpoint für mobiles Menü anpassen */
@media screen and (max-width: 1070px) {
    .wp-block-navigation__responsive-container-open {
        display: block !important;
    }

    .wp-block-navigation__responsive-container:not(.is-menu-open.has-modal-open) {
        display: none !important;
    }
}

/* Websitetitel im Menü zweizeilig - muss später noch geprüft werden */
@media screen and (max-width: 590px) {
    p.has-text-align-center.bsf-websitetitel.wp-block-site-title {
        font-size: clamp(0.8rem, 0.727vw + 0.655rem, 1.2rem)
    }

    img.custom-logo {
        /*    height: 20vw !important; */
        width: 20vw;
    }
}

@media screen and (min-width: 590px) {
    p.has-text-align-center.bsf-websitetitel.wp-block-site-title {
        white-space: normal !important;
        overflow-wrap: anywhere;
        line-height: 1.2;
        text-align: center;
    }
}

/* mobiles Menü */
/* Mobile Menü - Standard-Zustand */

/* Hover- und Focus-Zustand */
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__container a:hover,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__container a:focus,
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__container a:active {
    background-color: var(--wp--preset--color--custom-blau);
    color: var(--wp--preset--color--custom-weiss) !important;
}

/* Desktop Menü */
/* Menü bei hover */
.wp-block-navigation a:where(:not(.wp-element-button)) {
    text-decoration: none;
    padding: 0.3em 0.5em;
}

.wp-block-navigation a:where(:not(.wp-element-button)):hover {
    text-decoration: none;
    background-color: var(--wp--preset--color--custom-blau);
    color: var(--wp--preset--color--custom-weiss) !important;
}

.wp-block-navigation a:where(:not(.wp-element-button)):focus,
.wp-block-navigation a:where(:not(.wp-element-button)):active {
    text-decoration: none;
    background-color: var(--wp--preset--color--custom-mittelgrau);
    color: var(--wp--preset--color--custom-schwarz) !important;
    outline: 2px;
}


/* Schriftzug Menü */
@media screen and (min-width: 1070px) {
    p.schrift_menue {
        display: none;
    }
}

/* Links im Footer besser darstellen */
.footer_links a {
    box-shadow: inset 0 -1px 0 var(--wp--preset--color--custom-weiss);
}

.footer_links a:hover {
    box-shadow: inset 0 -1px 0 var(--wp--preset--color--custom-mittelgrau);
}

/* clickable button */
p.haurand-button a::before {
    content: '';
    /* position: absolute; */
    inset: 0;
    z-index: 1;
}

p.haurand-button,
p.haurand-button-blau {
    /* position: relative; */
    margin: 1rem;
}

p.haurand-button a {
    color: var(--wp--preset--color--custom-weiss);
    background-color: var(--wp--preset--color--custom-blau);
    padding: 0.8em;
    font-size: inherit;
    text-decoration: none;
}

p.haurand-button-blau a {
    color: var(--wp--preset--color--custom-blau);
    background-color: var(--wp--preset--color--custom-weiss);
    padding: 0.8em;
    font-size: inherit;
    text-decoration: none;
}


p.haurand-button a:hover,
p.haurand-button-blau a:hover {
    color: var(--wp--preset--color--custom-schwarz);
    background-color: var(--wp--preset--color--custom-mittelgrau);
}

/* Hover bei Buttons im seitenheader-blau */
a.wp-block-button__link.has-custom-blau-color.has-custom-weiss-background-color.has-text-color.has-background.has-link-color.wp-element-button:hover {
    color: var(--wp--preset--color--custom-weiss) !important;
    background-color: var(--wp--preset--color--custom-mittelgrau) !important;
}