p.haurand-button a::before {
    content: '';
    /* position: absolute; */
    inset: 0;
    z-index: 1;
}

p.haurand-button,
p.haurand-button-blau {
    /* position: relative; */
    margin: 1rem;
}

p.haurand-button a {
    color: var(--wp--preset--color--custom-weiss);
    background-color: var(--wp--preset--color--custom-blau);
    padding: 0.8em;
    font-size: inherit;
    text-decoration: none;
}

p.haurand-button-blau a {
    color: var(--wp--preset--color--custom-blau);
    background-color: var(--wp--preset--color--custom-weiss);
    padding: 0.8em;
    font-size: inherit;
    text-decoration: none;
}

p.haurand-button a:hover,
p.haurand-button-blau a:hover {
    color: var(--wp--preset--color--custom-weiss);
    background-color: var(--wp--preset--color--custom-graublau);
}

/* Hover bei Buttons im seitenheader-blau */
a.wp-block-button__link.has-custom-blau-color.has-custom-weiss-background-color.has-text-color.has-background.has-link-color.wp-element-button:hover {
    color: var(--wp--preset--color--custom-weiss) !important;
    background-color: var(--wp--preset--color--custom-graublau) !important;
}