/* Farben 
dunkelblau: #1D1F3C - RGB: (29, 31, 60)
weiß: #FFFFFF - RGB: (255, 255, 255)
orange: #F85900 - RGB: (248, 89, 0)
rot: #B70000 - RGB: (183, 0, 0)
mittelgrau: #A9B2B5 - RGB: (169, 178, 181)
#F1F1F1
/* Variablen */
:root {
  --dunkelblau-color: rgba(29, 31, 60, 1);
  --dunkelblau-color-transpa: rgba(29, 31, 60, 0.7);
  --orange-color: rgba(248, 89, 0, 1);
	--orange-color-transpa: rgba(248, 89, 0, 0.1);
  --weiss-color: rgba(255, 255, 255, 1);
	--grau-color-transpa: rgba(241, 241, 241, 0.5); 
  --box-shadow: 15px 15px 30px 0px rgba(29,31,60,0.5);
  --video-max-width-default: 100%;
  --wp--preset--font-size--medium: clamp(1.3125rem, 1.3125rem + ((1vw - 1rem) * -2.524), 2.625rem);
  --wp--preset--font-size--cover-paragraph: clamp(2rem, 10vw, 6rem);
  --wp--preset--font-size--h2: clamp(1.5rem, 2vw, 6rem);
    /* funktioniert nicht, daher nur definiert */
--rot-color_transpa: rgba(191, 25, 25, 0.5);
  --mobile-breakpoint: 767px;
  --tablet-breakpoint: 900px;
}

/* Kasten auf Lindberg-Brillen-Seite */
.lindberg_raster > .gb-grid-column {
    z-index: 5;
}

/* smooth scrolling und korrekte Ansteuerung interner Anker */
html {
  /* scroll-behavior: smooth; */
  scroll-padding-top: 14rem;
}

/* wenn nicht href, dann Standard-Cursor */
a:not([href]) {
  cursor: default;
}


/* Hover bei social icons */
.wp-block-image.social_icon :hover
{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    transform: scale(1.05);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
	  -webkit-transition: all .9s;
    -moz-transition: all .9s;
    transition: all .9s;
}

/* Hintergrundfarbe für Overlay bei Embed Privacy */

.embed-privacy-overlay {
    background-color: var(--dunkelblau-color)!important;
    transition: background-color 1s!important;
    z-index: 5!important;
}

.embed-privacy-overlay:hover {
  background-color: var(--dunkelblau-color-transpa)!important;
  z-index: 5!important; 
}

/* Auf mobilen Geräten Bild zuerst und dann Textblock */
@media (max-width: 767px) {
	.gb-grid-wrapper.raster_responsive {
			flex-direction: column-reverse;
	}
}

/* Auf mobilen Geräten Filiale Haaren */
@media (max-width: 1024px) {
	.gb-grid-wrapper.haaren {
    flex-flow: wrap-reverse;
	}
}

/* Terminleiste oben sticky */
.sticky_termin {
  position: sticky;
  position: -webkit-sticky;
  top: 60px;
	z-index: 10; 
}


/* Anzeige Logos im Slider */
.gs_logo_single .gs_logo_single--inner img {
  max-height: 75px;
  max-width: 150px;
}

/* Anzeige des Videos auf der Startseite */
video.background-video {
  max-width: var(--video-max-width,var(--video-max-width-default,100%));
  height: auto;
  display: block;
/*	  max-width: 100%; */
}


/* Schatten für überlappende Container */
.schatten-raster {
  box-shadow: var(--box-shadow);
}

/* ----------------------------- */
/* Navigation                    */
/* ----------------------------- */

/* Einstellungen für das Desktop-Menü */
@media (min-width: 769px) {
/* nav links effect */
.main-navigation .menu > .menu-item > a::after{
    content: "";
    position: absolute;
    right: 0;
    left: 50%;
    bottom: 0px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    color: var(--orange-color);
    display: block;
    width: 0;
    height: 3px;   
    background-color: currentcolor; 
    transition: 0.3s width ease;
}
.main-navigation .menu > .menu-item.current-menu-item > a::after,
.main-navigation .menu > .menu-item > a:hover::after {
    width: 100%;
    color: var(--orange-color);
}

.main-navigation .menu > .menu-item.current-menu-item > a::after,
.main-navigation .menu > .menu-item.current-menu-ancestor > a::after,
.main-navigation .menu > .menu-item > a:active::after {
width: 100%;
color: var(--orange-color);
}
/* Submenü 
ul.sub-menu {
opacity: 0.9;
}
*/
}


/* wegen Problem mit ios */
@media (pointer: coarse) {
    .gb-container,
    .gb-container:before {
        background-attachment: initial !important;
    }
}

/* wegen Problem mit ios
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2) {
.moeres_cover {
  background-attachment: scroll;
}
}
 */


/* Design-Anpassungen beim Formular */

input.wpcf7-form-control.wpcf7-submit.has-spinner {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 0.5em;
    width: 50%;
    font-weight: 500;
    text-align: center;
    padding: 15px 20px;
    margin-right: 5%;
    margin-bottom: 30px;
    margin-left: 0%;
    border: 0px solid;
    background-color: var(--orange);
    color: #ffffff;
	  text-transform: uppercase;
}

input.wpcf7-form-control.wpcf7-submit.has-spinner:hover {
	background-color: var(--dunkelblau-color);
}

/* Einstellungen für Radio-Button */
.wpcf7-form input[type=checkbox], .wpcf7-form input[type=radio] {
/*    -webkit-appearance: inner-spin-button!important;
    appearance: inner-spin-button!important; */
    width: 2rem;
    height: 2rem;
    accent-color: var(--orange-color);
    margin-right: 0.5rem;
}


.wpcf7-form input, textarea,
select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required,
select.wpcf7-form-control.wpcf7-select {
    background-color: var(--grau-color-transpa);
    border-color: var(--dunkelblau-color);
    color: black;	
		margin-left: 0px
}

/* Datenschutz einrücken */
span.wpcf7-list-item {
    text-indent: -2.7em;
    margin-left: 2.7em;
    margin-top: 1em;
}

/* ---------------------*/
/* Der Detail-Block mit */ 
/* einigen Anpassungen  */
/* ---------------------*/
summary {
  list-style: none;
  display: flex; /* also removes the list marker */
  align-items: center;
  padding: 0.5rem;
  font-weight: bold;
  background: var(--orange-color);
	color: white;
  border-radius: 5px;
	margin-bottom: 1rem; 
}

summary::before{
  content: '>';
  transition: 0.2s;
  margin-right: 1rem;
  font-size: 2rem;
}


details[open] > summary::before{
  transform: rotate(90deg);
}

.wp-block-details[open] summary,
.wp-block-details summary:hover
{
	background: var(--dunkelblau-color);
  transition: all 0.2s ease-in-out;
}

.wp-block-details summary:focus {
    background: var(--dunkelblau-color);
    transition: all 0.2s ease-in-out;
}

summary::-webkit-details-marker {
  display: none;
}

.wp-block-details summary:focus {
    outline-style: none;
}

/* Background content of details */
details p {
    background: rgba(226, 232, 240, 0.4);
    padding: 2rem;
    margin-top: 0;
}

@keyframes details-show {
  from {
    opacity:0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open] > *:not(summary),
details[close] > *:not(summary) {
  animation: details-show 1000ms ease-in-out;
}