/* wenn das featured image oben zentriert werden soll */
figure.featured_image_top_center img {
    object-position: top center;
}

/* wenn das featured image unten zentriert werden soll */
figure.featured_image_bottom_center img {
    object-position: bottom center;
}


/* Altlasten aus Kompatibilitätsgründen*/
.wp-block-group.html_svg {
    text-align: center;
}

/* Featured Image Seite Vorträge */
.page-id-2700 img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    object-position: 80% top;
}

/* Formular: Datenschutz */
.noptin-form-field-wrapper.noptin-form-field-consent.noptin-optin-field-wrapper.noptin-optin-field-consent {
    line-height: 1.2;
    font-size: 0.7em;
}

input.noptin-checkbox-form-field.noptin-gdpr-checkbox-wrapper {
    margin-right: 10px;
}


/* Clickable Cards */
.haurand-card {
    /*    position: relative; */
    box-shadow: 1px 1px 20px rgb(0 0 0 / 20%);
    /*    padding: 1em; */
    /*    transition: filter 0.5s ease-in-out; */
}

/*
.haurand-card:hover {
    filter: grayscale(1) opacity(.8);
}
*/

.haurand-card h2 a::before,
.haurand-card h3 a::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
}

.haurand-card p,
.haurand-card h2,
.haurand-card h3 {
    padding-left: 1em;
    padding-right: 1em;
}

.haurand-card p {
    padding-bottom: 1em;
}


p.haurand-button a::before {
    content: '';
    /* position: absolute; */
    inset: 0;
    z-index: 1;
}

p.haurand-button {
    /* position: relative; */
    margin: 1rem;
}

p.haurand-button a {
    color: white;
    background-color: black;
    padding: 20px;
    font-size: clamp(1rem, 0.75rem + 1.25vw, 2.25rem);
}

p.haurand-button a:hover {
    color: grey;
}


/* Runde Fläche mit breiterem Text */
.runde_flaeche {
    width: 150px;
    display: flex;
    align-items: center;
}

span.gross {
    font-size: 2em;
    font-weight: bold;
}

/* ---------------------*/
/* Der Detail-Block mit */
/* einigen Anpassungen  */
/* ---------------------*/
summary {
    list-style: none;
    display: flex;
    /* also removes the list marker */
    align-items: center;
    padding: 1.2rem;
    font-weight: bold;
    background: var(--wp--preset--color--contrast-2);
    color: var(--wp--preset--color--base);
    border-radius: 0px;
    outline: auto;
}

summary::before {
    content: '>';
    /*  margin-left: .75em; */
    transition: 0.2s;
    margin-right: 1rem;
    font-size: 2rem;
}


details[open]>summary::before {
    transform: rotate(90deg);
}

.wp-block-details[open] summary,
.wp-block-details summary:hover {
    transition: all 0.2s ease-in-out;
}

.wp-block-details summary:focus {
    transition: all 0.2s ease-in-out;
}

summary::-webkit-details-marker {
    display: none;
}


/* Background content of details */
details p {
    /*    background: rgba(226, 232, 240, 0.31); */
    padding: 2rem;
    margin-top: 0;
}

@keyframes details-show {
    from {
        opacity: 0;
        transform: var(--details-translate, translateY(-0.5em));
    }
}

details[open]>*:not(summary),
details[close]>*:not(summary),
.wp-block-accordion-item.is-layout-flow.wp-block-accordion-item-is-layout-flow.is-open {
    animation: details-show 1000ms ease-in-out;
}


/* wegen Problem mit Überlappung des BacktoTop Kreises im mobilen Menü */
.progress-wrap {
    z-index: unset !important;
}

/* so that the anchor can be accessed correctly if a category has been filtered in the blog */
#filtered_posts {
    padding-top: 200px;
    margin-top: -200px !important;
}


/* Prevents blurred edges with circles */
.wp-block-group.has-background {
    background-repeat: no-repeat;
}

/* Newsletter */
.email_posts_subscribers.wp-block-post-comments-form input {
    height: 45px;
    font-size: 18px;
}

.email_posts_subscribers.wp-block-post-comments-form input:focus {
    background-color: var(--wp--preset--color--contrast-4);
    border-color: var(--wp--preset--color--contrast-4);
    color: var(--wp--preset--color--base);
    outline-color: var(--wp--preset--color--contrast-2);
    outline-offset: 4px;
    outline-style: groove;
    outline-width: 4px;
}

/* Text unter Bildern */
figcaption.wp-element-caption {
    color: var(--wp--preset--color--base);
}

/* Umbruch bei langen Zeilen, z. B. Links */
a:where(:not(.wp-element-button)) {
    word-wrap: break-word;
}

/* Container mit Bild(ern) */
.wp-block-columns.alignfull.container_mit_bildern {
    background-color: #004E89 !important;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding-top: 1em;
    padding-bottom: 1em;
}

.wp-block-group.svg_container.is-layout-flow.wp-block-group-is-layout-flow {
    background-color: unset !important;
    border-left: var(--wp--preset--color--contrast-2) 2px solid;
    padding-left: 0.5em;
}


/* Meldungen bei Beiträgen */
.post-update-warning {
    background-color: var(--wp--preset--color--contrast-2);
    font-size: 1rem;
    padding: 0.5rem;
}

.post-show-update {
    background-color: var(--wp--preset--color--contrast-2);
    color: white;
    padding: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1rem;
}

/* Header: z-index overlapped categories and tags */
.wp-block-group.has-base-background-color.has-background.has-global-padding.is-layout-constrained.wp-block-group-is-layout-constrained.wp-container-2.is-position-sticky {
    z-index: 20;
}

/* left column with categories and tags */
.wp-block-group.category_shortcode.wp-container-4 {
    z-index: 8;
}

/* Gruppe Erstberatung/Newsletter */
div#sticky_group_left {
    z-index: 1;
}

/* Einstellung Bildunterschrift bei roten Containern */
.wp-block-columns.rechte_untere_ecke figcaption {
    color: white;
}


/* Anzeige der Bilder im Blog */
.bildanzeige {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}

.bildanzeige figure {
    width: 90%;
}


/* roter Unterstrich bei Links */
a.wp-block-navigation-item__content {
    box-shadow: inset 0 -1px 0 var(--wp--preset--color--contrast-2);
    text-decoration: none;
    transition: box-shadow 0.6s ease-in-out;
}

a.wp-block-navigation-item__content:hover,
a.wp-block-navigation-item__content:focus {
    box-shadow: inset 0 -4px 0 var(--wp--preset--color--contrast-2);
}

a.wp-block-navigation-item__content:focus {
    outline: 2px solid var(--wp--preset--color--contrast-2);
    outline-offset: 2px;
}

/* Fallback für High-Contrast-Modus */
@media (forced-colors: active) {

    a.wp-block-navigation-item__content:hover,
    a.wp-block-navigation-item__content:focus {
        text-decoration: underline;
        box-shadow: none;
        outline: 2px solid CanvasText;
    }
}



/* featured image bei query loop und Referenzen */
li figure.wp-block-post-featured-image,
.haurand-card {
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 0.6rem;
    border-bottom-color: var(--wp--preset--color--contrast-2);
    transition: all 0.6s ease-in-out;
}

li figure.wp-block-post-featured-image:hover,
.haurand-card:hover {
    border: 2px solid var(--wp--preset--color--contrast-2);
    padding: 0.4rem;
    transition: all 0.6s ease-in-out;
}

li figure.wp-block-post-featured-image:focus,
.haurand-card:focus {
    border: 2px solid var(--wp--preset--color--base-2);
    padding: 0.4rem;
    transition: all 0.6s ease-in-out;
}


/*
span.wp-block-navigation-item__label:after {
    display: block;
    background-color: #13aff0;
    position: absolute;
    bottom: -30%;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    visibility: hidden;
    -moz-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transform-origin: bottom left;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
*/