/* Farben Anfang
 Dunkelblau (Hintergrund Header, Footer): #024B7E
 Hellblau (Hintergrund Container): #E3EBF1
 Schriftfarbe überall:
 #555555
 Schriftfarbe (Header und Footer): #D5D5D5
 Linkfarbe evtl.: #B12E20

 Farben Ende */

/* h1 nicht zeigen */
.entry-header h1, .page-header h1 {
    display: none;
}

/* h2 auf Cover mit leichtem blauem Schatten */
p.has-text-align-center.animated.fadeInUp.delay-200ms.slower.has-base-2-color.has-text-color {
text-shadow: 0px 0px 0.1rem #024B7E;
}


/* Ränder bei Block Pattern */
.site-main .wp-block-group__inner-container {
    padding: 70px 40px 30px 40px;
}