/* ----------------------------- */
/* Farben */
/* ----------------------------- */
/* 
Rot = #C22921
Grün = #529f25
Hellgrau= #D6D6D6
*/

/* Variablen */
:root {
    --gruen-color-opacity: rgba(82, 159, 37, 0.5);
      --black-color-opacity-1: rgba(0, 0, 0, 0.2);
      --black-color-opacity-2: rgba(0, 0, 0, 0.8);	
      --black-color-opacity-3: rgb(0 0 0 / 0%);		
      --white-color-opacity: rgba(255, 255, 255, 0.5);	
    --grau_hell-color: rgba(214, 214, 214, 1);
      --blau-color: rgba(18, 38, 107, 1);
  
      --blau-color-opacity-1: rgba(23, 47, 102, 0.9);	
  }
  
  
  /* Move Sidebar below the content */
  @media (max-width: 1024px) {
      .site-content {
          flex-direction: column;
      }
      .site-content .content-area, .site-content .is-right-sidebar {
          width: 100%;
      }
  }
  
  
  /* sticky menue */
  @media (min-width: 1180px) {
  .main-navigation.navigation-stick .sticky-navigation-logo {
       height: 100px;
      }
     .navigation-branding img, 
     .site-logo.mobile-header-logo img {
       height: 100px;
       width: auto;
     }
  
     .navigation-branding .main-title {
       line-height: 100px;
     }
  }
  
  /* Ränder im Hauptmenü */
  @media (min-width: 500px) {
      .inside-header {
              padding: 0px 6rem;
      }
  }
  
  @media (max-width: 499px) {
      .inside-header {
              padding: 0px 2rem;
      }	
  }
      
  /* Hintergrundfarbe für Menü */
  .header-wrap {
      background-color: var(--black-color-opacity-1);
  }
  
  
  /* Hintergrund Menü transparent */
  .main-navigation {
      background-color: var(--black-color-opacity-3);
  }
  
  .main-navigation ul ul {
      background-color: var(--blau-color-opacity-1);
  }
  
  nav#sticky-navigation {
      background-color:var(--blau-color-opacity-1);
  }
  
  /* Schriftgröße und -art auf der Hauptseite */
  h1.front,
  h1.gb-headline.gb-headline-9126ac98.gb-headline-text {
        color: white;
      font-weight: 700;
          font-size: clamp(2rem, 3.2vw, 8rem);
      padding: 1em 3em;
      margin: 2em 4em;
      text-shadow: 0px 0px 0.3rem #000000;
      /* background-color: var(--black-color-opacity-2); */
  }
  