/* ersten Absatz im Beitrag immer kursiv 
.entry-content p:first-child {
    font-style: italic;
}
*/

/* Breite von einem Cover im Cover 
[class*="__inner-container"] > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    max-width: 90%;
    width: 100%;
}


/* Breite von einem Cover im Cover */
div[class*="breiteres_bild"]  > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide) {
    max-width: 90%;
}


.alignfull > figcaption, .alignfull > .wp-caption-text {
    font-size: 4vmax;
		font-weight: 800;
	  margin-top: calc(-100vh + 10vw); 
    /* margin-top: -100vH; */
	  color: white;
		margin-bottom: calc(80vH + 2vw);  		/* margin-bottom: 80vH; */
		text-shadow: 0px 0px 0.2rem #f9b81e;
}

}

/* Animationen für Text in Elements */
@media only screen and (max-width: 767px) {

	/* Animation (Fade) */
	.animated_1 {
			font-weight: 700;
			font-size: 2rem;
			-webkit-animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-duration: 2s;
			animation-fill-mode: both;
	}

	.animated_2 {
			font-weight: 400;
			font-size: 1.5rem;
			-webkit-animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-duration: 1s;
			animation-fill-mode: both;
	}
}


@media only screen and (min-width: 768px) {

	/* Animation (Fade) */
	.animated_1 {
			font-weight: 700;
			font-size: 4rem;
			-webkit-animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-duration: 2s;
			animation-fill-mode: both;
	}

	.animated_2 {
			font-weight: 400;
			font-size: 3rem;
			-webkit-animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-duration: 1s;
			animation-fill-mode: both;
	}
}

.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig
}

@-webkit-keyframes fadeInLeftBig {
    0% {
        -webkit-transform: translate3d(-2000px,0,0);
        opacity: 0;
        transform: translate3d(-2000px,0,0)
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes fadeInLeftBig {
    0% {
        -webkit-transform: translate3d(-2000px,0,0);
        opacity: 0;
        transform: translate3d(-2000px,0,0)
    }

    to {
        -webkit-transform: translateZ(0);
        opacity: 1;
        transform: translateZ(0)
    }
}


/* Umschalten von 3 auf 1 Spalte */
@media (max-width:781px){
.wp-block-columns {
    display: block; 
	}
}

@media (min-width: 600px) and (max-width: 781px) {
.wp-block-column:nth-child(2n) {
    margin-left: 0;
}	
}	

/* Beiträge mit zusätzlichem oberen Rand */
.post-inner.thin {
    margin-top: 15rem;
}

/* Anker auf Beitrag ohne Plugin */
#erster, #zweiter, #dritter, #vierter, #fuenfter {
	padding-top: 150px; 
	margin-top: -150px;
}

[id^="htoc-"] { 
	padding-top: 150px; 
	margin-top: -150px!important;
}

/* Button mit runden Ecken */
.wp-block-buttons .mein_runder_button a {
  border-radius: 20px;
}

/* ersten Absatz im Beitrag kursiv, wenn der Absatz fett ausgezeichnet ist 
.entry-content p:first-child strong{
    font-style: italic;
}
*/

/* mehr Platz oben für Anker */
h2.anker_h2 {
	padding-top: 150px; 
}

.container_aussen{
    background-color: antiquewhite;
}

div.erste {
	background-image: url(https://test3.haurand.com/wp-content/uploads/2021/02/floetenspieler_eilendorf_2.jpg); 
}

div.zweite {
	background-image: url(https://test3.haurand.com/wp-content/uploads/2021/02/dom_3.jpg); 
}

div.dritte {
	background-image: url(https://test3.haurand.com/wp-content/uploads/2021/02/bild_3_vortrag.jpg); 
}


.container_innen {
    display: flex;
    margin-bottom: 1.75em;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


/* Buttons zentriert */
.wp-block-buttons.is-content-justification-center, .wp-block-buttons
{
    text-align: center;
}


.wp-block-buttons .ein_button a {
	background-color: #B70000;
}

.wp-block-buttons .ein_button a:hover{
	color: #fff;
	text-decoration: none;
	background-color: #B70000;
  box-shadow: 15px 15px 15px #a9b2b5;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  opacity: 1.0;
  /* VERZÖGERUNG */
 -webkit-transition: all 0.5s linear;
 -moz-transition: all 0.5s linear;
 -ms-transition: all 0.5s linear;
 -o-transition: all 0.5s linear;
 transition: all 0.5s linear;
}

a.mein_button {
	background-color: #B70000!important;
}

a.mein_button:hover{
	color: #fff;
	text-decoration: none!important;
	background-color: #B70000;
  box-shadow: 15px 15px 15px #a9b2b5;
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  opacity: 1.0;
  /* VERZÖGERUNG */
 -webkit-transition: all 0.5s linear;
 -moz-transition: all 0.5s linear;
 -ms-transition: all 0.5s linear;
 -o-transition: all 0.5s linear;
 transition: all 0.5s linear;
}

/* ---------------------------- */
/* Blaue Spalten */
/* ---------------------------- */

/* Randdarstellung für Kacheln 
*/
div.kacheln {
    flex-basis: calc(50% - 16px);
    flex-grow: 0;
    box-shadow: 5px 5px 10px #888888;
    padding-right: 15px;
		padding-left: 15px;
}

/* Beim Überfahren mehr Schatten 
 */
div.kacheln:hover{
    box-shadow: 10px 10px 15px #888888;
}

/* Beschriftung der Kachel */
figcaption {
    padding: 10px;
}

/* Absatz für Spaltentext */
p.blue-background {
   padding: 20px 38px;
}

/* kein Rand bei Bildern animieren */
figure.wp-block-image.size-large {
    margin-top: 0px!important;
}


/* Spaltenblock */
p.blue-background,
div.blue-background {
    background-color: #22405a;
    color: white;
	/* box-shadow: 5px 5px 10px #888888; */
}

/* Beim Überfahren mehr Schatten 
 */
div.blue-background:hover{
    box-shadow: 10px 10px 15px #888888;
		/* kommt beim Vortrag dazu: */
  	-webkit-transform: scale(1.1);
		-moz-transform: scale(1.01);
		-ms-transform: scale(1.01);
		-o-transform: scale(1.01);
		transform: scale(1.01);
	  opacity: 1.0;
		/* VERZÖGERUNG */
	 -webkit-transition: all 0.7s linear;
	 -moz-transition: all 0.7s linear;
	 -ms-transition: all 0.7s linear;
	 -o-transition: all 0.7s linear;
	 transition: all 0.7s linear;
	 /* Schatten bei allen Elementen 
	 -webkit-filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.7));
   filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.7));*/
}

/* damit die Spalten nicht direkt zusammenhängen */
@media (max-width: 599px){
	.wp-block-column {
			/* statt 0px */
			margin-top: 20px;    
	}
}

/* Foto bei den dunkelblauen Spalten animieren (Hover) */
figure.zoomeffekt {
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}

figure.zoomeffekt:hover+span {
	bottom: -36px;
	opacity: 0.1;
}


figure.wp-block-image.size-large.zoomeffekt img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

figure.wp-block-image.size-large.zoomeffekt img:hover {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	transition: all 1.5s linear;
}

/* ----------------------------- */
/* Dreieck oben und unten */
/* klappt hier noch nicht */
/* ----------------------------- */
.hero_bild {
    position: relative;
}

.hero_bild:before, .hero1:after {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top:0;
    display: block;
    width: 50%;
    height: 100%;
    border: 30px solid white;
    border-bottom-color: white; 
}

.hero_bild:before {
    left: 0;
    border-right: 50px solid transparent ;
    border-left: 0;
}

.hero_bild:after {
    right: 0;
    border-left: 50px solid transparent;
    border-right: 0;
}




/* ----------------------------- */
/* Dreieck oben und unten (Original) */
/* ----------------------------- */
.hero {
    background: url(https://test3.haurand.com/wp-content/uploads/2021/07/platzhalter_natur_mit_biene.jpg);
    height: 200px;
    position: relative;
}

.hero:before, .hero:after {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top:0;
    display: block;
    width: 50%;
    height: 100%;
    border: 30px solid white;
    border-bottom-color: white;
}

.hero:before {
    left: 0;
    border-right: 20px solid transparent;
    border-left: 0;
}

.hero:after {
    right: 0;
    border-left: 20px solid transparent;
    border-right: 0;
}




/* ----------------------------- */
/* Bilder mit Dreieck nur unten */


.dreieck {
/*    background: url(http://d.pr/i/eqn9+);
    height: 200px;*/
    position: relative;
}

.dreieck:before, .dreieck:after {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top:0;
    display: block;
    width: 50%;
    height: 100%;
    border-bottom: 30px solid white; 
/*    border-bottom-color: white; */
}

.dreieck:before {
    left: 0;
    border-right: 50px solid transparent; 
    border-left: 0;
}

.dreieck:after {
    right: 0;
    border-left: 50px solid transparent;
    border-right: 0;
}
/* ----------------------------- */



/* ----------------------------- */
/* Bilder mit Dreieck nur unten */

.film {
/*    background: url(http://d.pr/i/eqn9+);
    height: 200px;*/
    position: relative;
}

.film:before, .hero1:after {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    border-bottom: 30px solid white; 
}


.film:before {
    left: 0;
    border-right: 50px solid transparent; 
    border-left: 0;
}

.film:after {
    right: 0;
    border-left: 50px solid transparent;
    border-right: 0;
}
/* ----------------------------- */

