:where(.wp-site-blocks *:focus) {
    outline-width: 2px;
    outline-style: solid
}

/* Website-Title centered */
div.website_title_centered {
    align-content: center;
}

/* Bildunterschriften zentriert */
figure.wp-block-image figcaption {
    text-align: center;
}

/* Navigation mit Unterstrich */
a.wp-block-navigation-item__content {
    text-underline-offset: 7px;
    transition: all .2s;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}


a.wp-block-navigation-item__content:hover {
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}


a.wp-block-navigation-item__content:focus {
    outline: 1px dotted;
}