/* Custom CSS */

/*------------------------------------*/
/* Einstellungen f체r die Frontpage */
.page-hero-buttons, .ackids_front {
  margin-left:20%;
  margin-right:20%;	
}

.ackids_front {
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;	
  color: white;
}

.ackids_front h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
  text-shadow: 0px 0px 0.7rem #F9B81E;
}

/* Maximale Breite f체r den Minikalender */
.tribe-mini-calendar-grid-wrapper {
  max-width: 300px;
}


/* Ken Burns Effekt auf Beitragsseiten */
.featured-image.page-header-image-single {
overflow: hidden;
}

/* hier die Regeln f체r das Bild */
.featured-image.page-header-image-single img {	
min-width: 100%;
min-height: 100%; 
/* Add infinite to loop. */
animation: move 10s ease;
-ms-animation: move 15s ease;
-webkit-animation: move 15s ease;
-animation: move 15s ease;
-moz-animation: move 15s ease;
position: relative; 
/* width: 100%; 
max-height: 400px; */
}

@keyframes move {
0% {
  /*
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: left;
  -o-transform-origin: left;
  transform-origin: left;
  */
  transform: scale(1.0);
  -ms-transform: scale(1.0);
  /* IE 9 */

  -webkit-transform: scale(1.0);
  /* Safari and Chrome */

  -o-transform: scale(1.0);
  /* Opera */

  -moz-transform: scale(1.0);
  /* Firefox */
}
50% {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  /* IE 9 */

  -webkit-transform: scale(1.1);
  /* Safari and Chrome */

  -o-transform: scale(1.1);
  /* Opera */

  -moz-transform: scale(1.1);
  /* Firefox */
}
100% {

  transform: scale(1.0);
  -ms-transform: scale(1.0);
  /* IE 9 */

  -webkit-transform: scale(1.0);
  /* Safari and Chrome */

  -o-transform: scale(1.0);
  /* Opera */

  -moz-transform: scale(1.0);
  /* Firefox */
}
}


/* nur zum Testen - besser in Customizer 채ndern */
nav#sticky-navigation {
  opacity: 0.9;
}



/* .header-wrap .site-header {
  background: #F9B81E;
}

div#primary-menu {
  background-color: #F9B81E;
}
*/


/*------------------------------------*/

