/* Farben */
/* 

Alte Farben:
Hellgrau:     #D9D9D9
Blau:         #0B3043
Türkis:       #00FFFF

Neue Farben:
Hellblau:     #08ADAD
Orange:       #FA660F
Braun:        #AD4609
Braunorange:  #FF9354
Dunkeltürkis: #08ADAD
Helltürkis:   #00F5F6



Breakpoint bei 1200px (einspaltig)
*/

/* Variablen */
:root {
	--orange-color: rgba(250, 102, 15, 1);
	--braun-color: rgba(173, 70, 9, 1);
	--braunorange-color: rgba(255, 147, 84, 1);
	--dunkeltuerkis-color: rgba(8, 173, 173, 1);
  --dunkeltuerkis-color-opacity: rgba(8, 173, 173, 0.2);
	--helltuerkis-color: rgba(0, 245, 246, 1);
	--shadow-kacheln: 0 1px 4px 0 rgb(12 12 13 / 10%);
	
/* "alte" Farben */	
  --hellgrau-color: rgba(217,217,217,1);
  --grau_1-color: rgba(190,190,190,1);
	--grau_2-color: rgba(204,204,204,1);
	--blau-color: rgba(11,48,67,1);
  --tuerkis-color: rgba(0,255,255,1);

}

/* Mini-Kalender */
.tribe-events-widget-events-list__events {
    padding-right: 1em!important;
}

header.tribe-events-widget-events-list__header h2 {
    padding-left: 1.5em;
}


/* --------------------------- */
/* Video im oberen Bereich     */
/* --------------------------- */
.top-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.page-hero {
    position: relative;
    overflow: hidden;
}

.background-video-content {
    position: relative;
    z-index: 1;
}

video[poster] {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



/* ----------------------------- */
/* Animation für Text über Video */
/* ----------------------------- */
@media (max-width: 650px) {
p.has-text-align-center.animated.fadeInLeft.slow {
    padding-top: 10rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    text-align: left;
    color: white;
    font-size: 2rem;
}

p.has-text-align-center.animated.fadeInLeft.slower {
    margin-left: 3rem;
    text-align: left;
		color: white;
		font-size: 1.3rem;
}
}

@media (min-width: 651px) {
p.has-text-align-center.animated.fadeInLeft.slow {
    padding-top: 30rem;
    margin-bottom: 1rem;
    margin-left: 10rem;
    text-align: left;
		color: white;
		font-size: 3rem;
}

p.has-text-align-center.animated.fadeInLeft.slower {
    margin-left: 10rem;
    text-align: left;
		color: white;
		font-size: 2rem;
}
}

/* --------------------------- */

@media (max-width: 650px) {
	.wp-block-column.kacheln_abgerundet h2 {
			margin-left: 0.5rem;
			margin-right: 0.5rem;
			font-size: 1em;
	}

	/* in der Kachel Text des Beitrags mit Rändern */
	ul.wp-block-latest-posts__list.aligncenter.beitrag_in_kachel.wp-block-latest-posts, ul.wp-block-latest-posts__list.neues.wp-block-latest-posts {
			margin-left: 1em;
			margin-right: 1em;
			font-size: 0.8em;
	}
}

@media (min-width: 651px){
	.wp-block-column.kacheln_abgerundet h2 {
			margin-left: 0.8rem;
			margin-right: 0.8rem;
			font-size: 1.2em;
	}

	/* in der Kachel Text des Beitrags mit Rändern */
	ul.wp-block-latest-posts__list.aligncenter.beitrag_in_kachel.wp-block-latest-posts, ul.wp-block-latest-posts__list.neues.wp-block-latest-posts {
			margin-left: 1.2em;
			margin-right: 1.2em;
	}
}

/* Überschrift des Beitrags nicht zeigen */
ul.wp-block-latest-posts__list.aligncenter.beitrag_in_kachel.wp-block-latest-posts li a {
    display: none;
}

ul.wp-block-latest-posts__list.neues.wp-block-latest-posts a {
    display: none;
}

/* Read-More-Button zeigen */
ul.wp-block-latest-posts__list.aligncenter.beitrag_in_kachel.wp-block-latest-posts li p.read-more-container a {
    display: unset;
    text-align: left;
}

/* Read-More-Button mit Rand nach oben */
ul.wp-block-latest-posts__list.aligncenter.beitrag_in_kachel.wp-block-latest-posts li p.read-more-container {
    margin-top: 2rem;
}

/* Read more und Buttons */
div.wp-block-buttons.eilendorf_button a,
.entry-content p.read-more-container a {
	  font-weight: 600;
	  border: 3px solid var(--dunkeltuerkis-color);
	  background-color: white;
    text-decoration: none!important;
		border-radius: 20px 0px;
	  color: var(--dunkeltuerkis-color);
		font-size: 1rem;
}

div.wp-block-buttons.eilendorf_button a:hover, .entry-content p.read-more-container a:hover {
    background-color: white;;
	  color: var(--orange-color); 
}



/* ------------------------------ */
/* Spalten mit Bild schattiert und hover-Effekt, siehe Beitrag: "Drei Spalten mit Kacheln abgerundet" */
/* ------------------------------ */
/* Titel unter Bildern größer */
div.wp-block-column.kacheln_abgerundet {
    color: var(--blau-color);
    font-size: 1.5rem;
		padding: 0px 0px 24px 0px;
    margin: 0px 80px 0px 0px;
		background-color: white;
    border-radius: 30px 0px;
		box-shadow: var(--shadow-kacheln);
		-webkit-filter: drop-shadow(3px 3px 1px var(--grau_2-color));
    filter: drop-shadow(2px 2px 5px var(--grau_2-color)); 
		margin-bottom: 3rem;
	  /* abgerundete Ecken 
	  border-radius: 20px 20px 0px 0px; */
}

/* Darstellung der Links */
div.wp-block-column.kacheln_abgerundet a {
  text-decoration-color: var(--blau-color);
	text-decoration-style: dotted;
	text-decoration-thickness: 0.075em;
  text-underline-offset: 4.5px;
	font-size: 1.2rem;
}

/* Texte in der Kachel mit Rand */
div.wp-block-column.kacheln_abgerundet p {
	margin-left: 1em;
	margin-right: 1em;
	font-size: 0.9em;
}

/* Darstellung der Listen */
div.wp-block-column.kacheln_abgerundet ol, ul {
    margin: 0 0 1em 2em;
}

/* bei einspaltiger Ansicht kein rechter Rand */
@media (max-width: 881px) {
div.wp-block-column.kacheln_abgerundet {
	margin-right: 0px;
	}
}

/* Darstellung des Bildes */
.wp-block-image.kachelbild_abgerundet img {
    border-radius: 30px 0px;
		object-fit: cover;
	  height: 15rem;
		width: 100rem
}


/* Überschrift über Beitrag */
h2.h2_beitrag {
    margin-top: 0;
    margin-bottom: 4rem;
}



/* Darstellung bei einspaltiger Kachel */
@media (max-width: 1199px) {
	div.wp-block-column.kacheln_abgerundet{
		margin: 0em 0em 2em 0em;
	}
}


/* beim Hover leicht größer mit mehr Schatten 
div.wp-block-column.kacheln_abgerundet:hover {
		opacity:0.7;
  	transform: scale(1.01, 1.01);
		-webkit-filter: drop-shadow(5px 5px 3px #CCCCCC);
    filter: drop-shadow(5px 5px 3px #CCCCCC);
	transition-duration: 1s;
}

*/



/*
@media (max-width: 799px)
.wp-block-column {
    flex-basis: 100%!important;
}
*/

/* wenn die Bilder untereinander stehen, dann kein rechter Rand, damit die Bilder zentriert sind */
/* Umschalten von 3 auf 1 Spalte 
@media (min-width: 600px) and (max-width: 781px) {
div.wp-block-column.drei_kacheln {
	margin-right: 0px;
	display: contents; 
	}
}

@media (min-width: 600px) and (max-width: 781px) {
div.wp-block-column.drei_kacheln:nth-child(2n) {
    margin-left: 0;
	}	
}	

/* Bilder in den Kacheln */
div.wp-block-column.drei_kacheln_abgerundet .wp-block-image:not(.is-style-rounded) img {
	height: 35rem;
	object-fit: cover;
	/* abgerundete Ecken 
	border-radius: 20px 20px 0px 0px; */
}




/* Kacheln auf der Hauptseite */
.wp-block-column.kacheln_eilendorf {
		box-shadow: var(--shadow-kacheln);
   -webkit-filter: drop-shadow(3px 3px 1px #CCCCCC);
   filter: drop-shadow(2px 2px 5px #CCCCCC);
	border-radius: 30px 0px 30px 0px;
}

/* Bilder in der Kachel */
.wp-block-column.kacheln_eilendorf img {
    height: 200px;
    object-fit: cover;
}

/* Links in der Kachel */
.wp-block-columns.kacheln_eilendorf ul {
    margin: 0 0 1.5em 4em;
    font-size: 1.3em;
}


.wp-block-columns.kacheln_eilendorf ul a { 
  text-underline-offset: 3px;
	text-decoration: none;
}

/*
.wp-block-columns.kacheln_eilendorf ul a:hover { 
  text-underline-offset: 3px;
	text-decoration: inherit;
}


/* Seitentitel nicht zeigen - evtl. überflüssig, siehe child theme 
.page .entry-header {
		/* visibility: hidden; 
		display: none;
}
*/


/*------------------------------------*/
/* Start: Parallax Scrolling Effekt
/* Datum: 24.10.2018
/* Autor: hgg
/*------------------------------------*/
.para_img-11, .para_img-2, .para_img-3 {
  position: relative;
  /* opacity: 0.65; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	/* transform: translateZ(5px)		scale(0.8); */
}


/* ----------------------------- */
/* universelle Lösung für Spalten und Breakpoints */
/* Variablen können leider für media queries nicht benutzt werden */
/* ----------------------------- */
/* ----------------------------- */
/* drei Spalten auf eine Spalte  */
/* 3 --> 1                       */
/* ----------------------------- */

@media (min-width: 600px) and (max-width: 881px) {
	.wp-block-columns.drei_spalten {
    display: block;
}
	.wp-block-column.drei_spalten{
			margin-left: 0;
	}
}


/* ----------------------------- */
/* drei Spalten auf eine Spalte  */
/* 3 --> 2 --> 1                 */
/* ----------------------------- */

@media (min-width: 600px) and (max-width: 1064px) {
  .wp-block-columns.drei_spalten_2 {
    flex-flow: row wrap;
  }

  .wp-block-column.drei_spalten_2:first-child {
    flex-basis: 100%!important;
  }
	
	.wp-block-column.drei_spalten_2:nth-child(1),
		.wp-block-column.drei_spalten_2:nth-child(2){
			margin-left: 1px;
	}
	
	.wp-block-column.drei_spalten_2:nth-child(3){
			margin-left: 20px;
	}
}



/* --------------------------- */
/* vier Spalten                */
/* --------------------------- */
@media (min-width: 600px) and (max-width: 1664px) {
	/* 2 Spalten */
	.wp-block-columns.vier_spalten {
			display: flex;
			margin-bottom: 1.75em;
			box-sizing: border-box;
			flex-direction: row;
			flex-wrap: wrap;
	}
/* hier ggfs den Prozentsatz und die Ränder anpassen */
	.wp-block-column.vier_spalten:not(:only-child) {
		/* durch Änderung des Prozentsatzes kann der Platz besser ausgenutzt werden */
    flex-basis: calc(45% - 1em) !important;
    flex-grow: 0;
		margin: 10px;
		padding: 10px;
	}
	/* gerade Spalten */
	.wp-block-column.vier_spalten:nth-child(odd){
			margin-left: 1px;
	}
	/* ungerade Spalten */
	.wp-block-column.vier_spalten:nth-child(even){
			margin-left: 15px;
	}
}



