/* Farben 
hellgrau: #D4DaDB - RGB: (212, 218, 219)
weiß: #FFFFFF - RGB: (255, 255, 255)
dunkelgrau: #3C4346 - RGB: (60, 67, 70)
rot: #B70000 - RGB: (183, 0, 0)
mittelgrau: #A9B2B5 - RGB: (169, 178, 181)
*/


/* Seitentitel nicht zeigen */
.page .entry-header {
    /* visibility: hidden; */
    display: none;
}

/* ---------------------------- */

/* Animation für Text über Video */
p.has-text-align-left.animated_1.animated.fadeInLeft.slow.has-background-color.has-text-color {
padding-top: 30rem;
    margin-bottom: 1rem;
}



/*------------------------------------*/
/* Start: Parallax Scrolling Effekt
/* Datum: 24.10.2018
/* Autor: hgg
/*------------------------------------*/
.para_img-11, .para_img-2, .para_img-3 {
position: relative;
/* opacity: 0.65; */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
/* transform: translateZ(5px)		scale(0.8); */
}

