<!-- wp:group {"metadata":{"categories":[],"patternName":"core/block/319","name":"Menue"},"align":"wide","style":{"spacing":{"padding":{"left":"0em","right":"0em","top":"0em","bottom":"1em"},"margin":{"top":"0"}},"border":{"top":{"width":"0px","style":"none"},"right":{"width":"0px","style":"none"},"bottom":{"color":"var:preset|color|contrast-5","width":"1px"},"left":{"width":"0px","style":"none"}},"position":{"type":"sticky","top":"0px"}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide has-base-background-color has-background" style="border-top-style:none;border-top-width:0px;border-right-style:none;border-right-width:0px;border-bottom-color:var(--wp--preset--color--contrast-5);border-bottom-width:1px;border-left-style:none;border-left-width:0px;margin-top:0;padding-top:0em;padding-right:0em;padding-bottom:1em;padding-left:0em"><!-- wp:template-part {"slug":"header","tagName":"header","area":"header","align":"full"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"},"blockGap":"var:preset|spacing|30"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--50)"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading" id="page-not-found">Seite nicht gefunden</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Die gesuchte Seite existiert nicht oder sie wurde verschoben. Bitte benutze die Suche mit dem untenstehenden Formular.</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"Suchen","showLabel":false,"buttonText":"Suchen","fontSize":"medium"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->