<!-- wp:group {"metadata":{"categories":[],"patternName":"core/block/319","name":"Menue"},"align":"wide","style":{"spacing":{"padding":{"left":"0em","right":"0em","top":"0em","bottom":"1em"},"margin":{"top":"0"}},"border":{"top":{"width":"0px","style":"none"},"right":{"width":"0px","style":"none"},"bottom":{"color":"var:preset|color|contrast-5","width":"1px"},"left":{"width":"0px","style":"none"}},"position":{"type":"sticky","top":"0px"}},"backgroundColor":"base","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide has-base-background-color has-background" style="border-top-style:none;border-top-width:0px;border-right-style:none;border-right-width:0px;border-bottom-color:var(--wp--preset--color--contrast-5);border-bottom-width:1px;border-left-style:none;border-left-width:0px;margin-top:0;padding-top:0em;padding-right:0em;padding-bottom:1em;padding-left:0em"><!-- wp:template-part {"slug":"header","tagName":"header","area":"header","align":"full"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-title {"textAlign":"center","level":1} /-->

<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} /--></div>
<!-- /wp:group -->

<!-- wp:post-content {"lock":{"move":false,"remove":true},"layout":{"type":"constrained","contentSize":"800px"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->