:root {
    --blau-color: rgb(42, 78, 137) ;
    --hellblau-color: rgb(54, 107, 224);
    --hellgrau-color: rgb(234, 234, 234);
    --gold-color:  rgb(177, 157, 111);	
    /* z. Zt. noch keine Verwendung */		
    --wp--preset--font-size--medium: clamp(1.3125rem, 1.3125rem + ((1vw - 1rem) * -2.524), 2.625rem);
    --wp--preset--font-size--cover-paragraph: clamp(2rem, 10vw, 6rem);
    --wp--preset--font-size--h2: clamp(1.5rem, 2vw, 6rem);
      /* funktioniert nicht, daher nur definiert */
	--rot-color_transpa: rgba(191, 25, 25, 0.5);
    --mobile-breakpoint: 767px;
    --tablet-breakpoint: 900px;  
}

/* oberen Rand deaktivieren */
.wp-site-blocks {
  padding-top: 0px;
}


/* Cover unter Header auf Startseite im Hintergrund */
div.start_cover {
    z-index: -1;
}



/* Spaltenblock mit negativem Rand */
.wp-block-group.alignwide.cover_info.has-white-background-color.has-background.has-global-padding.is-layout-constrained.wp-container-24 {
    margin-top: -200px;
}


/* Größe des Logos je nach Viewport anpassen */
img.custom-logo {
width: clamp(10rem, 6.364rem + 18.18vw, 20rem);
}



/* sticky header */
.wp-block-group.alignfull.sticky_header.has-global-padding.is-layout-constrained.wp-container-15.is-position-sticky {
    position: fixed;
    inset: 0;
    /* padding: 30px; */
    height: 210px;
    z-index: 11;
    background-color: white;
}

/* wegen Problem mit ios */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2) {
.sport_cover .wp-block-cover__image-background {
  background-attachment: scroll;
}
}


/* Three Columns with hover */

.wp-block-column.is-vertically-aligned-center.three_columns.has-tertiary-background-color.has-background.is-layout-flow {
    box-shadow: 1px 4px 20px -2px #0003;
}

.wp-block-column.is-vertically-aligned-center.three_columns.has-tertiary-background-color.has-background.is-layout-flow:hover {
    box-shadow: 1px 4px 20px -2px #0003;
    transform: translateY(-8px);
transition: all 1s ease-in-out;
}