:root {
    --blau-color: rgb(42, 78, 137) ;
    --hellblau-color: rgb(54, 107, 224);
    --hellgrau-color: rgb(234, 234, 234);
    --gold-color:  rgb(177, 157, 111);	
    /* z. Zt. noch keine Verwendung */		
    --wp--preset--font-size--medium: clamp(1.3125rem, 1.3125rem + ((1vw - 1rem) * -2.524), 2.625rem);
    --wp--preset--font-size--cover-paragraph: clamp(2rem, 10vw, 6rem);
    --wp--preset--font-size--h2: clamp(1.5rem, 2vw, 6rem);
      /* funktioniert nicht, daher nur definiert */
	--rot-color_transpa: rgba(191, 25, 25, 0.5);
    --mobile-breakpoint: 767px;
    --tablet-breakpoint: 900px;  
}

/* oberen Rand deaktivieren */
.wp-site-blocks {
  padding-top: 0px;
}


/* Cover unter Header auf Startseite im Hintergrund */
div.start_cover {
    z-index: -1;
}



/* Spaltenblock mit negativem Rand */
div.cover_info {
    margin-top: -200px;    
    box-shadow: 1px 4px 20px -2px #0003;
}


/* Größe des Logos je nach Viewport anpassen */
img.custom-logo {
width: clamp(10rem, 6.364rem + 18.18vw, 20rem);
}



/* sticky header */
div.sticky_header {
    position: fixed;
    inset: 0;
    /* padding: 30px; */
    height: 210px;
    z-index: 11;
    background-color: white;
}

/* wegen Problem mit ios */
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 2) {
.sport_cover .wp-block-cover__image-background {
  background-attachment: scroll;
}
}


/* Three Columns with hover */

div.three_columns, div.spalte_werdegang {
    box-shadow: 1px 4px 20px -2px #0003;
}

div.three_columns:hover {
    box-shadow: 1px 4px 20px -2px #0003;
    transform: translateY(-8px);
    transition: all 1s ease-in-out;
}

/* Schlagschatten bei featured Image */
.gb-container.gb-container-5390a3f3 {
    box-shadow: 1px 4px 20px -2px #0003;
}


/* alternative Einstellungen für Contact Form 7 */
input[type=email], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], select {
    padding: 5px 15px;
    width: 80%;
    height: 1.5rem;
    border: 1px solid var(--blau-color);
}

.wpcf7-list-item textarea {
    height: inherit;
    padding: 5px 15px;
    border: 1px solid var(--blau-color);
}

.wpcf7-list-item {
    width: 80%;
    display: inline-block;
    margin: 3em 0 0 1em;
    text-indent: -3.5em;
    padding: 1em 0 0 3em;
    border: var(--blau-color);
}

  
.wpcf7-list-item input[type='checkbox'] {
    display: inline-block;
    text-indent: 2em;
    opacity: 0;
    position: absolute;
    z-index: 9;
    top: .7em;
    left: 1em;
}
  
  /* On mouse-over, add background color */
.wpcf7-list-item input[type="checkbox"] + span::before {
    display: inline-block;
    transition: background 0.5s linear;
      -webkit-transition: background 0.5s linear;
}
  
input[type="checkbox"] + span::before {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0px 12px;
    vertical-align: middle;
    cursor: pointer;
    border: solid 1px var(--blau-color);
    text-align: center;
    content: '';
    transform: scale(0.8);
}
  
input[type="checkbox"]:checked + span::before {
    display: inline-block;
    content: "\2713";
    color: var(--blau-color);
}

/* Contact Form 7 Submit Button 
 -------------------------------*/
 .wpcf7 input[type="submit"] {
     color: var(--hellgrau-color);
     background: var(--blau-color);
     padding: 15px 25px 15px 25px;
     border: none;
     width: auto;
 }
 .wpcf7 input:hover[type="submit"] {
     background: var(--gold-color);
     transition: all 0.4s ease 0s;
 }
 .wpcf7 input:active[type="submit"] {
     background: var(--hellblau-color);
 }

/* Accordion z. B. bei Mediation */
body, body.elementor-default {
 --pds-tabs-color-accent: var(--blau-color);
 --pds-tabs-active-tab-text-color: var(--hellblau-color);
}

div#at-ein_erster_tab:hover, div#at-ein_zweiter_tab:hover, div#at-ein_dritter_tab:hover {
    background: var(--gold-color);
}

div#at-ein_erster_tab:focus, div#at-ein_zweiter_tab:focus, div#at-ein_dritter_tab:focus{
    background: var(--hellblau-color);
}


/* Animationen für Überschrift in Tmeplates */
  @media only screen and (max-width: 767px) {
  
	  /* Animation (Fade) */
	  .animated_1 {
			  -webkit-animation-duration: 1s;
			  -webkit-animation-fill-mode: both;
			  animation-duration: 2s;
			  animation-fill-mode: both;
	  }
  
	  .animated_2 {
			  -webkit-animation-duration: 1s;
			  -webkit-animation-fill-mode: both;
			  animation-duration: 1s;
			  animation-fill-mode: both;
	  }
	  
	  .animated_3 {
			  -webkit-animation-duration: 1s;
			  -webkit-animation-fill-mode: both;
			  animation-duration: 1s;
			  animation-fill-mode: both;
	  }
	  
  }
  
  
  @media only screen and (min-width: 768px) {
  
	  /* Animation (Fade) */
	  .animated_1 {
			  font-weight: 700;
			  font-size: 4rem;
			  -webkit-animation-duration: 1s;
			  -webkit-animation-fill-mode: both;
			  animation-duration: 2s;
			  animation-fill-mode: both;
	  }
  
	  .animated_2 {
			  font-weight: 400;
			  font-size: 3rem;
			  -webkit-animation-duration: 1s;
			  -webkit-animation-fill-mode: both;
			  animation-duration: 1s;
			  animation-fill-mode: both;
	  }
	  .animated_3 {
			  font-weight: 200;
			  font-size: 1.3rem;
			  -webkit-animation-duration: 1s;
			  -webkit-animation-fill-mode: both;
			  animation-duration: 1s;
			  animation-fill-mode: both;
	  }
  }
  
  .fadeInLeftBig {
	  -webkit-animation-name: fadeInLeftBig;
	  animation-name: fadeInLeftBig
  }
  
  @-webkit-keyframes fadeInLeftBig {
	  0% {
		  -webkit-transform: translate3d(-2000px,0,0);
		  opacity: 0;
		  transform: translate3d(-2000px,0,0)
	  }
  
	  to {
		  -webkit-transform: translateZ(0);
		  opacity: 1;
		  transform: translateZ(0)
	  }
  }
  
  @keyframes fadeInLeftBig {
	  0% {
		  -webkit-transform: translate3d(-2000px,0,0);
		  opacity: 0;
		  transform: translate3d(-2000px,0,0)
	  }
  
	  to {
		  -webkit-transform: translateZ(0);
		  opacity: 1;
		  transform: translateZ(0)
	  }
  }