/* Gestaltung Über uns */


.wp-block-columns.ueber_uns_gruppe.has-background {
  padding: 0px;
}

h3.ueber_uns {
  padding: 5px 0px 10px 0px;
  font-size: 1.6rem;
  font-weight: 500;
}

ul.ueber_uns li::marker {
color: #B70000;
}


ul.ueber_uns {
min-height: inherit;
}


@media (min-width: 1024px) {
ul.ueber_uns {
min-height: calc(9rem + 10vw);
}
}


/* runde bilder */
img.wp-image-2111,
img.wp-image-2110{
  height: 178px;
  margin-top: 3rem;
}

.wp-block-image figcaption {
  font-size: 1.2rem;
  text-align: center;
  color: black;
  font-weight: 700;
}

/* Gestaltung Referenzen */
div.referenz {
  background-color: #A9B2B5;
  padding: 20px;
  color: white;}

p.referenz {
  margin: 20px;
}

div.referenz-spalte {
  background-color: #ffffff;	
  margin-right: auto;
  margin-left: auto;
  border-radius: 50px;
  max-width: 600px;
}

/* Beiträge mit Linie nach unten */
.uagb-post__image {
  border-bottom: 1px solid #d4dadb;
}

/* Button ohne Unterstrich */
a.wp-block-button__link.has-text-color.has-background {
  text-decoration: none;
}

/* Schrfitgröße bei schmaleren Geräten */
@media (max-width: 768px) {
  body {
      font-size: 16px;
  }
}

/* Problem bei ungeraden Spalten weitestgehend behoben, aber nicht optimal */
@media (min-width: 600px) and (max-width: 1024px) {
.wp-block-columns.has-3-columns {
  flex-flow: row wrap!important;
}

.has-3-columns .wp-block-column:first-child {
  flex-basis: 100%!important;
}
  .wp-block-column.is-vertically-aligned-bottom {
    margin-left: 0em;
}
.wp-block-column:not(:first-child) {
  margin-left: 0em;
}
}



/* Beitragsübersicht nicht mehr zweispaltig, sondern einspaltig: */
@media (min-width: 600px) and (max-width: 1024px) {
.wp-block-columns {
    display: block; 
    margin-bottom: 1.75em;
    flex-wrap: wrap;
}
  .neue_beitraege {
    width:100%;
    display: contents;
}
} 

/* Newest Posts */
/* Ränder für Grid */
@media (min-width: 782px) {
.uagb-post-grid {
    margin-left: 12%;
    margin-right: 15%;
}
}

@media (min-width: 1025px) {
  .neue_beitraege {
    width:100%;
    display: block;
}
}

/* Link bei der Überschrift bei Einzelbeiträgen */
.uagb-post-grid .uagb-post__title a, .uagb-post-grid .uagb-post__title a:hover, 
.uagb-post-grid .uagb-post__title a:focus, .uagb-post-grid .uagb-post__title a:active{
  color: #b70000;
  text-decoration: none!important;
  font-weight: 600;
  font-size: 1.6rem;
}

/* Überschrift Einzelbeiträge */
.uagb-post-grid .uagb-post__title {
  text-align: left;
}

/* Bildhöhe bei Einzelbeiträgen */
@media (max-width: 1299px) {
  .uagb-post-grid .uagb-post__image img {
    height: 150px;
}
}

@media (min-width: 1300px){
.uagb-post-grid .uagb-post__image img {
  height: 250px;
}
}

/* Button bei Einzelbeiträgen mit runden Ecken */
a.wp-block-button__link.uagb-text-link {
  background-color: #A9B2B5;
  text-decoration: none!important;
  border-radius: 30px;
}
.uagb-post__inner-wrap {
  border-radius: 50px;
}


/* Buttons unten mit mehr Padding */
a.fuss_button-beitrag {
  padding: 15px;
}

/* Einzelbeiträge mit runden Ecken unten */
.uagb-block-23c9c34f .uagb-post__inner-wrap {
  border-radius: 30px;
}

/* ---------------------------- */
/* rechte untere Ecke */
/* ---------------------------- */
.rechte_untere_ecke {
  position: relative; 
  background-image: url("https://wp.haurand.com/wp-content/uploads/2021/04/Eckendeko_ohne_Rahmen.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 3em;    
}

/* Listen mit grauen Quadraten bei Aufzählung */
@media (max-width: 782px){
ul.rote_liste,
ul.ueber_uns {
    font-size: 16px;
}
ul.rote_liste {
    margin-left: 0px;
}
}

@media (min-width: 783px){
ul.rote_liste,
ul.ueber_uns {
    font-size: 22px;
}
}


ul.rote_liste,
ul.ueber_uns {
  list-style: square;
}

ul.rote_liste li::marker {
color: #A9B2B5;
}

figcaption {
  color: white;
}

/* Randdarstellung für Kacheln */
/* Randdarstellung für Kacheln 
*/
div.kacheln {
  flex-basis: calc(50% - 16px);
  flex-grow: 0;
  box-shadow: 5px 5px 10px #888888;
  padding: 15px;
  opacity: 0.7;
}

/* Beim Überfahren mehr Schatten 
*/
div.kacheln:hover{
  box-shadow: 10px 10px 15px #888888;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 1.0;
  /* VERZÖGERUNG */
 -webkit-transition: all 0.7s linear;
 -moz-transition: all 0.7s linear;
 -ms-transition: all 0.7s linear;
 -o-transition: all 0.7s linear;
 transition: all 0.7s linear;
}

/* Beschriftung der Kachel */
figcaption {
  padding: 10px;
}


/* Randdarstellung für Kacheln */
.kachel_spalte {
  flex-basis: calc(50% - 16px);
  flex-grow: 0;
  box-shadow: 5px 5px 10px #888888;
  padding-left: 15px;
  padding-right: 15px;
}

/* Beim Überfahren mehr Schatten */
.kachel_spalte:hover {
  box-shadow: 10px 10px 15px #888888;
}


/* Spalten von 3 auf 1 */
@media (max-width:930px) {
  .kachel_spalten {
  /* folgende Zeile sorgt dafür, dass die Spalten untereinander gezeigt werden */
  display: unset; 
  background-color: unset;
  max-width: 700px;
  }
  .kachel_spalte {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 600px;
    margin-bottom:40px;
    margin-left: auto!important;
    margin-right: auto!important;
}
}


/* Bild hervorgehoben mit Schatten */
img.tc-smart-loaded {
/* SCALE */
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
/* VERZÖGERUNG */
-webkit-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
transition: all 0.3s linear;
}

img.tc-smart-loaded:hover {
-webkit-transform: scale(1.01);
-moz-transform: scale(1.01);
-ms-transform: scale(1.01);
-o-transform: scale(1.01);
transform: scale(1.01);
/* mit Schatten: */
-webkit-filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.7));
filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.7));
}

/* Regel für Buttons im Block-Editor */
a.eigener_block-button {
  /* padding: 10px; */
  color: #ffffff;
  font-size: 1.0em;
  background-color: #77BCC7;
  /* keine runden Ecken */
  /* border-radius: 4px; */
  text-decoration: none!important;
  border-bottom: none!important;
}

/* Regel für Buttons im Block-Editor */
a.eigener_block-button {
  padding: 10px;
  color: #ffffff;
  font-size: 1.0em;
  background-color: #77BCC7;
  /* keine runden Ecken */
  /* border-radius: 4px; */
  text-decoration: none!important;
  border-bottom: none!important;
}

@media only screen and (min-width: 768px) and (max-width: 840px) {
.eigener_block-button {
    font-size: 0.8em;
}
}


a.eigener_block-button:visited{
color: #fff!important;
text-decoration: none;
}

/* Hintergrund: gelb */
a.eigener_block-button:hover{
color: #fff;
background-color: #F9B81E;
text-decoration: none!important;
}

a.eigener_block-button:focus{
color: #fff!important;
text-decoration: none;
}

/* keine gepunktete Linie bei den Buttons */
a.fuss_button-beitrag {
  border-bottom: 0px!important;
}
.wp-block-button__link {
  border-bottom: 0px!important;
}


/* Schriftgröße und -art bei Code*/
.sourcecode { 
font-size: 0.8em;
font-family: "Courier New", Times, serif;
}

/* Bei 4 Bildern muss 30s eingestellt werden */ 
img.v-centered {
    width: 100%;
    animation: move 15s ease infinite;
    /* Add infinite to loop. */
    
    -ms-animation: move 15s ease;
    -webkit-animation: move 15s ease;
    -animation: move 15s ease;
    -moz-animation: move 15s ease;
    position: absolute;
  }

  @-webkit-keyframes move {
    0% {
      -webkit-transform-origin: bottom left;
      -moz-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
      -o-transform-origin: bottom left;
      transform-origin: bottom left;
      transform: scale(1.0);
      -ms-transform: scale(1.0);
      /* IE 9 */
      
      -webkit-transform: scale(1.0);
      /* Safari and Chrome */
      
      -o-transform: scale(1.0);
      /* Opera */
      
      -moz-transform: scale(1.0);
      /* Firefox */
    }
    50% {
      transform: scale(1.2);
      -ms-transform: scale(1.2);
      /* IE 9 */
      
      -webkit-transform: scale(1.2);
      /* Safari and Chrome */
      
      -o-transform: scale(1.2);
      /* Opera */
      
      -moz-transform: scale(1.2);
      /* Firefox */
    }

    100% {
      transform: scale(1.0);
      -ms-transform: scale(1.0);
      /* IE 9 */
      
      -webkit-transform: scale(1.0);
      /* Safari and Chrome */
      
      -o-transform: scale(1.0);
      /* Opera */
      
      -moz-transform: scale(1.0);
      /* Firefox */
    }
}


/* Start Accordion 
* {
  box-sizing: border-box;
}

img {
 max-width: 100%;
}
*/
.details-wrapper {
 width: 75vw;
 margin: 0 auto;
 background-color: #999999;
 /* box-shadow:0 0 1px 2px #E5E5E5;*/ 	
}

summary:hover {
background-color: #F7000F; 
}

summary:focus {
 background-color: #F7000F;
}

details {
 padding: 1rem;
 font: 1rem/1.2 sans-serif;
}

summary {
 padding: .25rem 1rem;
 font: bold 1.25rem/2 sans-serif;
 background-color: #999999;
 /*   border: none;
 border-radius: 3px;
 box-shadow: 0 -1px 1px 1px rgba(0,0,0,0.5); */
 color:floralwhite; 
 cursor: pointer;	
}

summary::before {
 padding-right: .25rem;
}
div.accordion {
padding-top: 20px;
line-height: 1.5rem;
/* line-height:1.5px; 
transition: all 0.35s; */
}

