:where(.wp-site-blocks *:focus){outline-width:2px;outline-style:solid}

/* Menü bei hover */
.wp-block-navigation a:where(:not(.wp-element-button)) {
    text-decoration: none;
    padding: .5em 1em;
}

.wp-block-navigation a:where(:not(.wp-element-button)):hover {
    text-decoration: none;
    background-color: var(--wp--preset--color--contrast-3);
    padding: .5em 1em;
    color: #ffffff!important;
}

.wp-block-navigation a:where(:not(.wp-element-button)):focus {
    text-decoration: none;
    padding: .5em 1em;
    outline:2px;
}

/* b-slider Anfang */
.wp-site-blocks *:focus {
    outline-width: 0px; 
    outline-style: solid;
}

#bsbCarousel-09b6e5ef-a .bsbTitle {
    color: #fff;
    margin: 5px 0px 5px 0px;
    animation-delay: 0s!important;
    animation-duration: 0s!important;
}


#bsbCarousel-09b6e5ef-a p {
    color: #fff;
    margin: 5px 0px 5px 0px;
    animation-delay: 0s!important;
    animation-duration: 0s!important;
}
/* b-slider Ende */