/* {
    "color": "#f9f9f9",
    "name": "Base",
    "slug": "base"
},
{
    "color": "#ffffff",
    "name": "Base / Two",
    "slug": "base-2"
},
{
    "color": "#111111",
    "name": "Contrast",
    "slug": "contrast"
},
{
    "color": "#636363",
    "name": "Contrast / Two",
    "slug": "contrast-2"
},
{
    "color": "#A4A4A4",
    "name": "Contrast / Three",
    "slug": "contrast-3"
},
{
    "color": "#5A7A8a",
    "name": "Dunkelblau",
    "slug": "Dunkelblau"
}

custom:
orange: 
--wp--preset--color--custom-orange
#e95d0f;
dunkleres orange: 
--wp--preset--color--custom-dunkleres-orange
#c94e0c
*/

:where(.wp-site-blocks *:focus){outline-width:2px;outline-style:solid}

/* Startseite ohne Innenrand oben */
body.home .entry-content {
    padding-top: 0;
    margin-top: 0;
}


/* Kein margin-top beim Footer */
footer.wp-block-template-part {
    margin-top: 0px;
}

/* Hintergrund Content */
.entry-content {
    background-color: var(--wp--preset--color--base);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Menü bei hover */
.wp-block-navigation a:where(:not(.wp-element-button)) {
    text-decoration: none;
    padding: 0.3em 0.5em;
}

.wp-block-navigation a:where(:not(.wp-element-button)):hover {
    text-decoration: none;
    background-color: var(--wp--preset--color--contrast-3);
    color: #ffffff!important;
}

.wp-block-navigation a:where(:not(.wp-element-button)):focus {
    text-decoration: none;
    outline:2px;
}

/* b-slider Anfang */
.wp-site-blocks *:focus {
    outline-width: 0px; 
    outline-style: solid;
}

#bsbCarousel-09b6e5ef-a .bsbTitle {
    color: #fff;
    margin: 5px 0px 5px 0px;
    animation-delay: 0s!important;
    animation-duration: 0s!important;
}


#bsbCarousel-09b6e5ef-a p {
    color: #fff;
    margin: 5px 0px 5px 0px;
    animation-delay: 0s!important;
    animation-duration: 0s!important;
}
/* b-slider Ende */



/* ---------------------*/
/* Der Detail-Block mit */ 
/* einigen Anpassungen  */
/* ---------------------*/
summary {
  list-style: none;
  display: flex; /* also removes the list marker */
  align-items: center;
  padding-left: 0.7rem;
  margin-bottom: 0.5rem;
  color: var(--wp--preset--color--base-2);
  background: var(--wp--preset--color--dunkelblau);
  border-radius: 5px;
}

summary::before{
  content: '>';
  transition: 0.2s;
  margin-right: 1rem;
  font-size: 2rem;
}

details.wp-block-details.is-layout-flow.wp-block-details-is-layout-flow {
    margin-block-start: 20px;
}

details[open] > summary::before{
  transform: rotate(90deg);
}

.wp-block-details[open] summary,
.wp-block-details summary:hover
{
  color: var(--wp--preset--color--contrast);
    background: var(--wp--preset--color--hellblau);
    transition: all 0.2s ease-in-out;
}

.wp-block-details summary:focus {
  color: var(--wp--preset--color--contrast);
    background: var(--wp--preset--color--hellblau);
    transition: all 0.2s ease-in-out;
}

summary::-webkit-details-marker {
    display: none;
}

.wp-block-details summary:focus {
    outline-style: none;
}

/* Background content of details */
details p, details ol.wp-block-list, details ul.wp-block-list {
    background: var(--wp--preset--color--base);
    padding: 2rem;
    margin-top: 0;
}

@keyframes details-show {
  from {
    opacity:0;
    transform: var(--details-translate, translateY(-0.5em));
  }
}

details[open] > *:not(summary),
details[close] > *:not(summary) {
  animation: details-show 1000ms ease-in-out;
}


/* Breakpoint für mobiles Menü */
@media (min-width: 1220px) {
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: block;
    width: 100%;
    position: relative;
    z-index: auto;
    background-color: inherit;
  }
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) .wp-block-navigation__responsive-container-close {
    display: none;
  }
  .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__submenu-container.wp-block-navigation__submenu-container.wp-block-navigation__submenu-container.wp-block-navigation__submenu-container {
    left: 0;
  }
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: none;
  }
}

@media (max-width: 1219px) {
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
    display: none;
  }
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: flex;
  }
}
