/* Test für Abstände - Notlösung */
.is-layout-flow > :last-child {
    margin-block-end: 0;}
  
  .is-layout-flow > * {
    margin-block-start: 1.2rem;margin-block-end: 0;}
  
  .is-layout-constrained > :first-child {
    margin-block-start: 0;}
  
  .is-layout-constrained > :last-child {
    margin-block-end: 0;}
  
  .is-layout-constrained > * {
     margin-block-start: 1.2rem!important;margin-block-end: 0;}


.entry-content.alignfull.wp-block-post-content.has-global-padding.is-layout-constrained.wp-container-core-post-content-is-layout-1.wp-block-post-content-is-layout-constrained {
    background-color: var(--wp--preset--color--base);
    padding-top: 2rem;
    padding-bottom: 2rem;
}