/* style.css - Spezielle Effekte */
.wp-block-button:hover {
    transform: scale(1.01);
    transition: transform 0.5s ease;
}

/* Links bei Hover */
p a:hover {
    text-decoration: none;
    outline: 3px;
    outline-color: var(--wp--preset--color--custom-orange);
    outline-style: solid;
}